.registerContainer {
  background-color: #f9fdff;
  margin: 25px 88px;
  text-align: center;
  border-radius: 8px;
  padding-top: 67.49px;
  padding-bottom: 67.49px;
}

.registerButton {
  background-color: var(--primary-color);
  color: white;
  font-size: 40px;
  font-weight: 700;
  padding: 8px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer !important;
}

.features {
  display: flex;
  justify-content: center;
  gap: 19px;
  margin-top: 25px;
  flex-wrap: wrap;
}

.feature {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  flex: 1 1 200px;
  justify-content: center;
}

.iconContainer {
  width: 34px;
  height: 34px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconContainer img {
  width: 18px;
  height: 18px;
}

@media (max-width: 768px) {
  .registerContainer {
    margin: 20px 30px;
    padding: 50px 20px;
  }

  .registerButton {
    font-size: 30px;
    padding: 10px 28px;
  }

  .features {
    flex-wrap: wrap;
    gap: 16px;
  }

  .feature {
    font-size: 15px;
    flex: 1 1 100%;
    justify-content: flex-start;
  }

  .iconContainer {
    width: 30px;
    height: 30px;
  }

  .iconContainer img {
    width: 16px;
    height: 16px;
  }
}

/* ----------- Mobile (max-width: 480px) ----------- */
@media (max-width: 480px) {
  .registerContainer {
    margin: 20px 16px;
    padding: 40px 10px;
  }

  .registerButton {
    font-size: 22px;
    padding: 8px 20px;
  }

  .features {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .feature {
    font-size: 14px;
    text-align: start;
    max-width: 280px;
    width: 100%;
    justify-content: flex-start;
  }

  .iconContainer {
    width: 28px;
    height: 28px;
  }

  .iconContainer img {
    width: 15px;
    height: 15px;
  }
}
