
.accrediationsContainer h3 {
    font-size: 20px;
    font-weight: 600;
}
.accrediationsContainer h2 {
    display: flex;
    align-items: start;
}
.accrediationsBoxContainer{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0px 10px;
}
.accrediationsBox {
    background-color: #F7F7F7;
    padding: 20px 19px;
    font-size: 14px;
    font-weight: 500;
    /* margin-top: 16px; */
    color: #000000;
    width: 100%;
}
.infoBox {
    display: flex;
    align-items: center;
    margin: 18px 0;
  }
  .infoBox span{
    color: #828282;
    font-size: 12px;
    padding: 4px;
  }
