.mainContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 60px;
}

.container {
  /* flex: 1 1 300px; */
  max-width: 420px;
  padding: 20px 122px 0px 88px;
  background-color: #fafafa;
}
.profileImage {
  width: 250px;
  height: 240px;
  /* background-color: #f0f0f0; */
  border-radius: 8px;
  object-fit: cover;
}
.viewDetails {
  margin-top: 5px;
  cursor: default;
}
.viewDetails h2 {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.business_profile_img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #ccc;
  color: #000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}

.locationText {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 500;
  color: #828282;
  display: flex;
  align-items: center;
}
.locationText img {
  width: 8px;
  height: 12px;
  margin-right: 5px;
}
.locationText span {
  /* margin-top: 10px; */
  margin-right: 5px;
  font-size: 12px;
  font-weight: 500;
  color: #000000;
}

.noReviews {
  font-size: 14px;
}

.sidebar {
  min-width: 150px;
  display: flex;
  margin-top: 10px;
  /* flex-direction: column; */
  /* align-items: flex-start; */
  /* justify-content: flex-start; */
}

.rating {
  display: flex;
  font-size: 1.2rem;
  text-align: center;
  gap: 5px;
}

.stars {
  color: #ffd633;
  font-size: 28px;
}

.ratingCount {
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  display: flex;
  align-items: center;
}

.badgesBox {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 250px;
  margin-top: 20px;
  cursor: default;
}

.badges {
  display: flex;
  gap: 10px;
}

.badges span {
  border: 1px solid #b3b3b3;
  padding: 5px 10px;
  border-radius: 100px;
  font-weight: 600;
  font-size: 10px;
  white-space: nowrap;
  color: #b3b3b3;
  background-color: #ffffff;
  cursor: default;
}

.requestBtnBox {
  margin-top: 25px;
}

.RequestBtn {
  background: var(--primary-color);
  padding: 6px 33px;
  color: #ffffff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
}

.RequestQuoteBtn {
  background: var(--primary-color);
  padding: 6px 33px;
  color: #ffffff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer !important;
  border-radius: 5px;
}
.RequestQuoteBtn:hover {
  background-color: #0096c4;
}
.RequestQuoteBtn:disabled {
  cursor: default !important;
  /* opacity: 0.6; */
}
.contactDetails {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: start;
}
.mailText {
  font-size: 12px;
  font-weight: 400;
  color: #000000;
  display: flex;
  gap: 8px;
  align-items: center;
}
.mailTexts img {
  font-size: 12px;
  font-weight: 400;
  color: #000000;
  display: flex;
  gap: 8px;
  align-items: center;
}
/* .backBtnWrapper {
    width: 250px;
    height: 200px;
  } */
/* .mailText span{
    margin-top: -3px;
  } */

.rightContainer {
  flex: 1 1 600px;
  padding: 20px;
  min-width: 300px;
}

/* Responsive Breakpoints */
@media (max-width: 1024px) {
  .mainContainer {
    flex-direction: column;
  }

  .container {
    max-width: 100%;
    padding: 20px;
  }

  .rightContainer {
    padding: 0px;
  }

  .RequestQuoteBtn {
    /* width: 100%; */
    text-align: center;
  }
}

@media (max-width: 768px) {
  .stars {
    font-size: 24px;
  }

  .ratingCount {
    font-size: 16px;
  }

  .RequestQuoteBtn {
    font-size: 16px;
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .mainContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    gap: 20px;
  }
  .container {
    flex: 1 1 300px;
    max-width: 420px;
    padding: 12px 12px;
    background-color: #fafafa;
  }
  .RequestQuoteBtn {
    font-size: 14px;
    padding: 8px 40px;
  }

  .badges span {
    font-size: 9px;
    padding: 4px 8px;
  }

  .stars {
    font-size: 20px;
  }

  .ratingCount {
    font-size: 14px;
  }

  .rightContainer {
    padding: 0px 15px 15px 15px;
    width: -webkit-fill-available;
  }
  .container {
    padding-top: 70px;
    width: -webkit-fill-available;
  }
}

/* <---- tab css ---> */

.tabContainerBox {
  position: relative;
  top: 0;
  z-index: 9;
  height: 80vh;
  overflow-x: auto;
}
.tab_nav {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
  padding: 10px 0;
}

.tabContainers {
  /* width: 100%; */
  /* position: fixed; */
  top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  /* padding: 6px; */
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  background-color: white;
  z-index: 1000;
}

.tabContainer::-webkit-scrollbar {
  display: none;
}

.tab {
  font-weight: 500;
  color: #555;
  font-size: 18px;
  padding: 6px 0px;
  cursor: pointer !important;
  white-space: nowrap;
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: 2px solid transparent;
  /* margin-left: 16px; */
  flex-shrink: 0;
}

.active {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  font-weight: 600;
}

@media (max-width: 768px) {
  .tab {
    font-size: 14px;
    padding: 8px 12px;
  }
}

@media (max-width: 480px) {
  .tab {
    font-size: 12px;
    padding: 6px 8px;
  }
  .tabContainers {
    gap: 0px;
    /* flex-wrap: wrap; */
    overflow: auto;
    flex-wrap: unset;
    width: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .business_profile_img {
    width: 100px;
    height: 100px;
    font-size: 36px;
  }

  .tabContainers::-webkit-scrollbar {
    display: none;
  }

  .tabContainers::after {
    content: "";
    flex: 0 0 24px; /* adds visual space at end */
  }
}

/* <--- end Css tab ----> */

/* <----- SubmitReview css -----> */

.modalOverlay {
  position: fixed;
  top: 10px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modalContent {
  position: relative;
  background: white;
  max-width: 800px;
  width: 100%;
  max-height: 70vh;
  padding: 43px 43px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  z-index: 10000;
}
.modalContent h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 45px;
  text-align: center;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #000000;
  cursor: pointer !important;
  z-index: 10;
  transition: all 0.3s ease;
}

/* .closeButton:hover { 
    color: #ff4d4f;
  } */

.formRow {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.formGroup {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 375px;
}

.label {
  margin-bottom: 6px;
  font-weight: 600;
  color: #000;
  font-size: 16px;
}

.input,
.textarea {
  font-family: "Poppins";
  padding: 8px 12px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  font-size: 14px;
  color: #828282;
  font-weight: 500;
}

.buttonRow {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancelBtn {
  background: #c6c6c6;
  border: none;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer !important;
  padding: 5px 16px;
}

.submitBtn {
  background-color: var(--primary-color);
  color: white;
  padding: 5px 31px;
  font-size: 14px;
  border: none;

  cursor: pointer !important;
}
.ratingSection {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
}
.ratingSection span {
  font-size: 18px;
  color: #000000;
  margin-bottom: 30px;
  font-weight: 600;
}

.star {
  cursor: pointer !important;
  color: #e4e4e4;
  transition: color 0.2s ease-in-out;
}

.star.active {
  color: #fbbf24;
}
.error {
  color: red;
  font-size: 13px;
  margin-top: 4px;
}

@media screen and (max-width: 768px) {
  .modalContent {
    padding: 20px;
    max-width: 500px;
  }

  .formRow {
    flex-direction: column;
  }

  .formGroup {
    width: -webkit-fill-available;
    min-width: -webkit-fill-available;
  }

  .buttonRow {
    /* flex-direction: column; */
    gap: 10px;
  }

  .cancelBtn,
  .submitBtn {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .modalContent {
    padding: 20px;
    max-width: 300px;
  }

  .formRow {
    flex-direction: column;
  }

  /* .formGroup {
    min-width: 100%;
  } */

  .buttonRow {
    /* flex-direction: column; */
    gap: 10px;
  }

  .modalOverlay {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999 !important;
  }

  .cancelBtn,
  .submitBtn {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 350px) {
  .modalContent {
    padding: 15px;
    max-width: 280px;
  }

  .formRow {
    flex-direction: column;
  }

  /* .formGroup {
    min-width: 100%;
  } */

  .buttonRow {
    /* flex-direction: column; */
    gap: 10px;
  }

  .cancelBtn,
  .submitBtn {
    width: 100%;
    text-align: center;
  }
}
/* <----- End css ---->   */
