.settings {
  padding: 21px 88px;
  background-color: #f9f9f9;
}

@media (max-width: 768px) {
  .settings {
    padding: 15px 40px;
  }
}

@media (max-width: 480px) {
  .settings {
    padding: 10px 20px;
  }
}
