.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 90px 5%;
}

.heading {
  font-size: var(--text-size-35);
  font-weight: 400;
  margin: 0;
}

.highlight {
  color: var(--primary-color);
  font-weight: 700;
}

.stepsContainer {
  display: flex;
  gap: 20px;
  margin: 58px auto 0;
}

.step {
  width: 100%;
  max-width: 409px;
  padding: 0px 28px 28px;
  height: auto;
  position: relative;
  background: #f9f9fa;
  text-align: center;
}

.imageWrapper {
  margin: -58px auto 22px;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
}

.imageWrapper img {
  width: 78px;
  height: 78px;
}

.description {
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  margin-bottom: 24px;
  margin: 0;
}

.lineBreak {
  display: block;
}

@media screen and (max-width: 920px) {
  .container {
    gap: 30px;
  }

  .stepsContainer {
    margin: 52px auto 0;
  }

  .step {
    padding: 0px 20px 20px;
  }

  .description {
    font-size: 14px;
  }

  .imageWrapper {
    margin-top: -52px;
  }
}

@media screen and (max-width: 768px) {
  .description {
    font-size: 15px;
  }
  .stepsContainer {
    margin: 45px auto 0;
  }

  .imageWrapper {
    width: 102px;
    height: 102px;
  }

  .imageWrapper img {
    width: 48px;
    height: 48px;
  }
}

@media screen and (max-width: 667px) {
  .container {
    gap: 70px;
  }

  .stepsContainer {
    flex-direction: column;
    align-items: center;
    margin: 0;
    gap: 70px;
  }

  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    padding: 0px 20px 20px;
    position: relative;
  }

  .imageWrapper {
    margin: -50px auto 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imageWrapper img {
    width: 48px;
    height: 48px;
  }

  .description {
    font-size: 14px;
    margin: 0;
  }

  .lineBreak {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding-top: 30px;
  }
  .heading {
    font-size: 28px;
  }
  .description {
    font-size: 14px;
  }
}
