.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(180deg, #e3f6fc 0%, #24cdff 100%);
  padding: 0 180px;
}

.textContainer {
  flex: 1;
  color: #000;
  padding: 35.33px 0px;
}

.textContainer h2 {
  font-weight: 600;
  font-size: 35px;
  vertical-align: middle;
  margin-bottom: 10px;
  text-wrap: nowrap !important;
}

.textContainer p {
  font-weight: 400;
  font-size: 18px;
  line-height: 37px;
  vertical-align: middle;
  margin-top: 5px;
}

.imageContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.computer {
  position: relative;
  z-index: 1;
  width: 120px;
}

.girl {
  position: absolute;
  right: 10px;
  bottom: 0;
  z-index: 2;
  width: 100px;
}

.profileBig {
  position: absolute;
  top: -10px;
  right: 60px;
  z-index: 3;
  width: 50px;
}

.profileSmall {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 4;
  width: 30px;
}

.closeButton {
  width: 8px;
  height: 10px;
  position: absolute;
  top: 8px;
  right: 14px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer !important;
  color: #ffffff;
}

@media (max-width: 1120px) {
  .banner {
    padding: 0 80px;
  }
}
@media (max-width: 910px) {
  .textContainer h2 {
    font-size: 26px;
  }

  .textContainer p {
    font-size: 14px;
    line-height: 27px;
  }

  .imageContainer img {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .textContainer {
    padding: 20px 0px;
  }

  .textContainer h2 {
    font-size: 28px;
  }

  .textContainer p {
    font-size: 16px;
    line-height: 24px;
  }

  .imageContainer {
    display: flex;
    justify-content: center;
  }

  .imageContainer img {
    width: 75%;
  }
}

@media (max-width: 480px) {
  .textContainer h2 {
    font-size: 24px;
  }

  .textContainer p {
    font-size: 14px;
  }

  .closeButton {
    font-size: 16px;
    top: 8px;
    right: 10px;
  }
}
