/* .videos_container {
  border-bottom: 1px solid rgb(238, 238, 238);
  margin-bottom: 12px;
  padding: 20px;
}

.videos_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 12px 0;
}

.video_item {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.video_item:hover {
  transform: scale(1.02);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.video_modal {
  position: relative;
  width: 80%;
  max-width: 900px;
  aspect-ratio: 16 / 9;
}

.video_modal iframe {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.close_btn {
  position: absolute;
  top: -40px;
  right: 0;
  background: transparent;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
} */

.videos_container {
  border-bottom: 1px solid rgb(238, 238, 238);
  margin-bottom: 12px;
}

.videos_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 12px 0;
  margin-bottom: 12px;
}

.video_thumbnail {
  position: relative;
  /* width: 350px; */
  height: 150px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.video_thumbnail:hover {
  transform: scale(1.02);
}

.thumbnail_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.play_overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.video_thumbnail:hover .play_overlay {
  opacity: 1;
}

.play_icon {
  width: 60px;
  height: 60px;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.7));
}

/* Overlay fullscreen modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.video_modal {
  position: relative;
  width: 80%;
  max-width: 900px;
  aspect-ratio: 16 / 9;
}

.video_modal iframe {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.close_btn_wrapper {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: flex-end;
}

.close_btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.close_btn:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}
