.overlay {
  position: fixed;
  inset: 0;
  background: transparent;
  z-index: 99998;
}

.container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  width: 100%;
  max-height: 75vh;
  overflow-y: auto;
  background: #ffffff;
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.15);
}

.wrapper {
  padding: 28px;
}

@media (min-width: 768px) {
  .wrapper {
    padding: 28px 75px;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    padding: 28px 150px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  /* gap: 24px; */
  padding: 0 20px;
}

@media (min-width: 768px) {
  .content {
    flex-direction: row;
    gap: 32px;
    padding: 0;
  }
}

.leftSection {
  flex: 1;
  padding: 0;
}

@media (min-width: 768px) {
  .leftSection {
    width: 66.666667%;
    padding: 0 20px;
  }
}

.rightSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
  justify-content: end;
  align-items: end;
}

@media (min-width: 768px) {
  .rightSection {
    width: 30%;
    padding: 0 20px;
  }
}

.title {
  font-size: 20px;
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 16px;
  margin-left: auto;
}

@media (min-width: 768px) {
  .title {
    font-size: 24px;
  }
}

.text {
  font-size: 15px;
  line-height: 1.6;
  color: #888888;
  margin-bottom: 16px;
}

.text:last-child {
  margin-bottom: 0;
}

.link {
  color: #00afe3;
  font-weight: 500;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.rejectButton {
  width: 100%;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #1a1a1a;
  background: rgb(247, 246, 245);
  border: 0.5px solid rgb(223, 218, 206);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
}

@media (min-width: 768px) {
  .rejectButton {
    max-width: 265px;
  }
}

.rejectButton:hover {
  background: rgba(223, 218, 206, 0.1);
}

.acceptButton {
  width: 100%;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;
  background: #222222;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
}

@media (min-width: 768px) {
  .acceptButton {
    max-width: 265px;
  }
}

.acceptButton:hover {
  background: #333333;
}
