.progressContainer {
  width: 100%;
  height: 16px;
  background-color: rgba(227, 246, 252, 1); /* Default background */
  /* border-radius: 8px; */
  overflow: hidden;
}

.progressFill {
  height: 100%;
  width: 0;
  transition: width 1s ease-in-out; /* Smooth animation */
  /* border-radius: 8px 0 0 8px; */
}
