.container {
  width: 75%;
  margin: 0 auto;
  padding: 30px 0px;
  text-align: center;
  position: relative;
}

.heading {
  color: var(--text-color);
  font-weight: 400;
  font-size: 35px;
  line-height: 40px;
  margin: 0 0 40px;
}

.heading span {
  color: var(--primary-color);
  font-weight: 700;
}

.sliderWrapper {
  position: relative;
  height: 215px;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}
.image:hover {
   width: 100%;
  height: 210px;
  object-fit: cover;
  cursor: pointer;
}

.serviceTitle {
  position: absolute;
  background: #000000b2;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 18px;
  font-size: 14px;
  color: #ffffff;
  white-space: nowrap;
  cursor: pointer !important;
}

.serviceTitle:hover {
  background: var(--primary-color);
  color: #ffffff;
}

/* Custom Arrows */
.arrowLeft,
.arrowRight {
  position: absolute;
  top: 55%;
  background: var(--text-color) !important;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer !important;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.arrowLeft img,
.arrowRight img {
  width: 17px;
  height: 13px;
}

.arrowLeft:hover,
.arrowLeft:active,
.arrowRight:hover,
.arrowRight:active {
  background: var(--primary-color) !important;
}
.arrowLeft {
  left: -60px;
}

.arrowRight {
  right: -60px;
}

@media (max-width: 920px) {
  .container {
    padding: 20px 0px;
  }

  .heading {
    margin: 0 0 22px;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 22px;
    margin: 0 0 23px;
  }
}

@media (max-width: 560px) {
  .sliderWrapper {
    height: 165px;
  }

  .image {
    width: 210px;
    height: 156px;
  }

  .serviceTitle {
    top: 110px;
    font-size: 12px;
  }
}

@media (max-width: 488px) {
  .container {
    width: 86%;
  }

  .heading {
    font-size: 20px;
    line-height: 30px;
  }

  .sliderWrapper {
    height: 150px;
  }

  .image {
    width: 171px;
    height: 114px;
  }

  .serviceTitle {
    top: 80px;
    font-size: 9px;
    padding: 6px 10px;
  }

  .arrowLeft,
  .arrowRight {
    top: 20px;
    width: 28px;
    height: 28px;
  }

  .arrowLeft img,
  .arrowRight img {
    width: 12px;
  }
}

@media (max-width: 390px) {
  .heading {
    font-size: 18px;
  }
}

@media (max-width: 340px) {
  .heading {
    font-size: 16px;
  }
}
