.section {
  padding: 16px 0;
  border-bottom: 1px solid #eee;
}

.section h2 {
  /* font-size: 20px; */
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  /* font-weight: 600; */
}

.accordionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  padding: 12px 3px;
  border-top: 1px solid #ccc;
  cursor: pointer !important;
  font-size: 14px;
}

.accordionContent {
  padding: 4px 6px;
  color: #000000;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

.arrow {
  transition: transform 0.3s ease;
  width: 16px;
  height: 16px;
  margin-right: 16px;
}

.up {
  transform: rotate(0deg);
}

.down {
  transform: rotate(180deg);
}

/* Tablet: max-width 768px */
@media (max-width: 768px) {
  .section {
    padding: 30px 0;
  }

  .section h2 {
    /* font-size: 18px; */
    margin-bottom: 16px;
  }

  .accordionHeader {
    font-size: 16px;
    padding: 12px 0;
  }

  .accordionContent {
    font-size: 14px;
  }

  .arrow {
    width: 14px;
    height: 14px;
  }
}

/* Mobile: max-width 480px */
@media (max-width: 480px) {
  .section {
    padding: 10px 0;
  }

  .section h2 {
    /* font-size: 16px; */
    margin-bottom: 14px;
  }

  .accordionHeader {
    font-size: 15px;
    padding: 10px 0;
  }

  .accordionContent {
    font-size: 13px;
  }

  .arrow {
    width: 12px;
    height: 12px;
  }
}
