.container {
  text-align: center;
  width: 100%;
}

.heading {
  font-weight: 400;
  font-size: 45px;
  color: #000;
}

.heading span {
  color: var(--primary-color);
  font-weight: 700;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 94px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.card {
  background-color: #e3f6fc;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  gap: 26px;
}

.icon {
  width: 48px;
}

.text {
  font-weight: 600;
  font-size: 20px;
  vertical-align: middle;
  color: #000;
}

@media (max-width: 1030px) {
  .cards {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 36px;
  }

  .card {
    padding: 16px 36px;
    gap: 20px;
  }

  .icon {
    width: 40px;
  }

  .text {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 28px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
  }

  .card {
    padding: 10px 20px;
    gap: 10px;
    justify-content: center;
  }

  .icon {
    width: 24px;
    height: 16px;
  }

  .text {
    font-size: 12px;
    text-align: center;
  }
}
