.container {
  position: relative;
  background-image: url("../../../assets/Images/HowItWorks/HowLocalistsWorksBg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  padding: 65.5px 208px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.headingContainer {
  text-align: center;
  padding: 10px;
  margin-bottom: 9px;
}

.headingContainer p {
  font-weight: 700;
  font-size: 45px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
}

.blueText {
  color: var(--primary-color);
}

.formContainer {
  background: #ffffffe5;
  border-radius: 10px;
  text-align: center;
  width: 100%;
}

.innerformContainer {
  padding: 32px 33px 33.5px;
}

.innerformContainer p {
  font-weight: 700;
  font-size: 22px;
  line-height: 37px;
  letter-spacing: 0;
  text-align: center;
}

.inputGroup {
  display: flex;
  justify-content: space-between;
  gap: 18px;
  margin-top: 30px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: left;
}

.inputBox label {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  color: var(--text-color);
  margin-bottom: 16px;
}

.inputBox input {
  height: 30px;
  padding: 10px 15px;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  border: 1px solid #d9d9d9;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
}

.inputBox input::placeholder {
  color: #959595;
}

.button {
  background-color: var(--primary-color);
  color: #ffffff;
  box-shadow: 0px 0px 4px 0px #0000004d;
  padding: 11px 31px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  margin-top: 25px;
  cursor: pointer !important;
}
.searchResults {
  position: absolute;
  background: white;
  border: 1px solid #ddd;
  width: 32.5%;
  max-height: 200px;
  top: 65%;
  overflow-y: auto;
  z-index: 10;
  border-radius: 4px;
}

.searchItem {
  padding: 8px;
  cursor: pointer !important;
  border-bottom: 1px solid #eee;
  font-size: 14px !important;
  color: #000 !important;
}

.searchItem:hover {
  background: #f0f0f0;
}

@media (max-width: 1280px) {
  .container {
    padding: 65.5px 100px;
  }

  .headingContainer p {
    font-size: 40px;
    line-height: 45px;
  }
  .searchResults {
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    width: 35.5%;
    max-height: 200px;
    top: 66.3%;
    overflow-y: auto;
    z-index: 10;
    border-radius: 4px;
  }
}

@media (max-width: 980px) {
  .container {
    padding: 45.5px 50px;
  }
  .searchResults {
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    width: 40%;
    max-height: 200px;
    top: 67.8%;
    overflow-y: auto;
    z-index: 10;
    border-radius: 4px;
  }
}

@media (max-width: 768px) {
  .overlay {
    padding: 0 30px;
  }

  .headingContainer p {
    font-size: 35px;
  }

  .inputGroup {
    flex-direction: column;
    margin-top: 20px;
  }

  .button {
    font-size: 16px;
    padding: 9px 16px;
  }
  .searchResults {
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    width: 78.4%;
    max-height: 200px;
    top: 56.8%;
    overflow-y: auto;
    z-index: 10;
    border-radius: 4px;
  }
}

@media (max-width: 480px) {
  .container {
    height: auto;
    padding: 20px 10px;
  }

.headingContainer{
  line-height: 45px;
}

  .inputGroup {
    flex-direction: column;
    margin-top: 20px;
  }

  .inputBox input {
    padding: 5px 10px;
  }

  .button {
    font-size: 14px;
    padding: 7px 14px;
  }
  .searchResults {
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    width: 77.4%;
    max-height: 200px;
    top: 64.3%;
    overflow-y: auto;
    z-index: 10;
    border-radius: 4px;
  }
}
@media screen and (max-width: 350px) {
  .searchResults {
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    width: 72.4%;
    max-height: 200px;
    top: 67.3%;
    overflow-y: auto;
    z-index: 10;
    border-radius: 4px;
  }
  
}
