.linkList {
  list-style: none;
  padding-left: 0;
  margin-top: 8px;
}

.linkItem {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.icon {
  width: 20px;
  height: 20px;
}
