.button {
  background-color: #00afe3;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer !important;
  width: 100%;
  text-align: center;
}

.button:hover {
  background-color: #00afe3;
}
