.modalOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  position: fixed;
  /* background-color: white; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalContent {
  background-color: #ffffff;
  width: 100%;
  max-width: 500px;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  position: fixed;
  /* background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.container {
  text-align: center;
  font-family: sans-serif;
}

.box {
  background-color: #e3f6fc;
  padding: 58px 40px 32px 40px;
}

.icon {
  background-color: var(--primary-color);
  width: 64px;
  height: 64px;
  margin: 0 auto;
  border-radius: 50%;
  color: #ffffff;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 16px;
  color: #000;
}

.buttons {
  margin-top: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 31px;
}

.backButton {
  background-color: black;
  color: #ffffff;
  padding: 8px 29px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer !important;
}

.viewMatchesButton {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 8px 29px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer !important;
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkIcon {
  background-color: #ffffff;
  color: var(--primary-color);
  border-radius: 3px;
  font-size: 12.8px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note {
  margin-top: 32px;
  color: #828282;
  font-weight: 500;
  font-size: 10px;
  padding: 0 21px 31px 21px;
  text-align: left;
  line-height: 18px;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .box {
    padding: 40px 30px 25px 30px;
  }

  .title {
    font-size: 20px;
  }

  .buttons {
    padding: 0px 20px;
    margin-top: 25px;
  }
}

@media (max-width: 480px) {
  .modalContent {
    padding: 0 20px;
    margin: 0 10px;
  }

  .box {
    padding: 30px 20px 20px 20px;
  }

  .icon {
    width: 50px;
    height: 50px;
    font-size: 24px;
  }

  .title {
    font-size: 18px;
    margin-top: 12px;
  }

  .buttons {
    align-items: center;
    gap: 10px;
    padding: 0px 15px;
    margin-top: 20px;
  }

  /* .backButton,
  .viewMatchesButton {
    width: 100%;
    max-width: 250px;
  } */

  .note {
    font-size: 9px;
    padding: 0 15px 20px 15px;
    line-height: 18px;
    margin-top: 20px;
  }
}
