.container {
  border: 1px solid #d9d9d9;
  padding: 18px 20px 37px 20px;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
  margin-top: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  color: #828282;
}

.optional {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #828282;
  font-weight: 500;
  font-size: 14px;
}

.icon {
  width: 14px;
  height: 14px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: #00b6f0;
}

.switch input:checked + .slider:before {
  transform: translateX(16px);
}

.description {
  font-weight: 500;
  font-size: 14px;
  color: #828282;
  margin: 10px 0 40px;
}

.card {
  border: 1px solid #d9d9d9;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.logoSectionWrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.logoSection {
  flex-shrink: 0;
}

.logo {
  width: 104px;
  height: 69px;
  object-fit: contain;
}

.accreditationList {
  flex: 1;
}

.accreditationItem {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 6px;
  color: #828282;
}

.inputGroup {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.input {
  flex: 1;
  max-width: 635px;
  padding: 8px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.addButton {
  background-color: #00b6f0;
  color: white;
  border: none;
  padding: 8px 9px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 18px;
  vertical-align: middle;
  cursor: pointer !important;
}

.addAccreditationButton {
  background-color: var(--primary-color);
  color: white;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  border: none;
  padding: 8px 15px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 18px;
  vertical-align: middle;
  margin-top: 28px;
  cursor: pointer !important;
}

.addAccreditationButtons {
  background-color: #000000;
  color: white;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  border: none;
  padding: 8px 15px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 18px;
  vertical-align: middle;
  margin-top: 28px;
  cursor: pointer !important;
}
.addAccreditationButton:hover {
  background-color: #0096c4;
}
.addAccreditationButtons:hover {
  background-color: #ccc;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 23px;
}

.cancel {
  background-color: #c6c6c6;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  color: #fff;
  border: none;
  padding: 8px 10px;
  border-radius: 3px;
  cursor: pointer !important;
  font-size: 20px;
  font-weight: 500;
}

.save {
  background-color: var(--primary-color);
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  color: #fff;
  border: none;
  padding: 8px 21px;
  border-radius: 3px;
  cursor: pointer !important;
  font-size: 20px;
  font-weight: 500;
}
.save:hover {
  background-color: #0096c4;
}
.cancel:hover {
  background-color: #ccc;
}

.closeButton {
  background-color: #c6c6c6;
  color: white;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  border: none;
  padding: 8px 15px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  vertical-align: middle;
  margin-top: 0px;
  cursor: pointer !important;
}

@media screen and (max-width: 480px) {
  .logoSectionWrapper {
    flex-direction: column;
    gap: 0px;
  }
  .inputGroup {
    flex-direction: column;
  }
  .title {
    font-size: 18px;
    margin-bottom: 11px;
  }
  .AccreditationsAccordionBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .addAccreditationButton {
    background-color: var(--primary-color);
    color: white;
    box-shadow: 0px 0px 2px 0.5px #0000001a;
    border: none;
    padding: 8px 15px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    vertical-align: middle;
    margin-top: 12px;
  }
  .addAccreditationButtons {
    background-color: #000000;
    color: white;
    box-shadow: 0px 0px 2px 0.5px #0000001a;
    border: none;
    padding: 8px 15px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    vertical-align: middle;
    margin-top: 0px;
    cursor: pointer !important;
  }
  .card {
    border: 1px solid #d9d9d9;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .logo {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 380px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .cancel,
  .save {
    width: 84px;
    padding: 8px 10px;
    font-size: 14px;
  }
}
