.modal {
  background: #e3f6fc;
  /* padding: 40px; */
  width: -webkit-fill-available;
  max-width: 627px;
  /* padding-bottom: 20px !important; */
  position: relative;
  height: 87.7vh;
  bottom: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid #d9d9d9; */
}

.modal::-webkit-scrollbar {
  width: 6px;
}
.modal::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 0px;
}
.arrowBtn {
  color: #000000;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  vertical-align: middle;
  cursor: pointer !important;
  margin-bottom: 36px;
  display: flex;
  gap: 8px;
  padding: 40px 40px 0px 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.container {
  /* max-width: 400px; */
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-weight: 600;
  font-size: 35px;
  vertical-align: middle;
}

.subHeader {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  vertical-align: middle;
  padding: 0 40px;
  margin-top: 5px;
}

.icon {
  margin-right: 8.74px;
}

.icon img {
  width: 17.08px;
  height: 17.08px;
  margin-top: 7px;
}

.description {
  font-weight: 400;
  font-size: 18px;
  margin-top: 10px;
  padding: 0 40px;
  margin-bottom: 27.39px;
}

.questionBox {
  background: #ffffff;
  padding: 11px 18.66px;
  margin-top: 15px;
}

.questionTitle {
  font-weight: 500;
  font-size: 16px;
  cursor: pointer !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* color: #000000; */
}

.arrowIcon img {
  width: 8.54px;
  height: 14.77px;
  margin-left: 10px;
  transition: transform 0.2s ease-in-out;
}

.options {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.showOptions {
  max-height: max-content;
}

.option {
  display: flex;
  align-items: center;
  margin: 14.47px 0;
  font-weight: 500;
  font-size: 13px;
  color: #000000;
  margin-left: 22px;
}
.optionSelect {
  display: flex;
  align-items: center;
  margin: 14.47px 0;
  font-weight: 600;
  font-size: 13px;
  color: #000000;
  margin-left: 5px;
}
.optionSelect input {
  margin-right: 0px;
  margin-top: 0;
  margin-bottom: 0px;
}

.option input {
  margin-right: 0px;
  margin-top: 0;
  margin-bottom: 0px;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  margin-top: 10px;
  border-radius: 5px;
}

.dropdownTitle {
  font-size: 14px;
}

.suggestion {
  display: flex;
  justify-content: space-between;
  margin-top: 32.39px;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 15.93px;
  padding: 0 40px 16px 40px;
}

.suggestion span {
  font-weight: 400;
  font-size: 18px;
}

.suggestLink {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer !important;
}

.locations {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
  padding: 14px 40px 16px 40px;
}
.locationIcon {
  display: flex;
  align-items: center;
}

.locationIcon img {
  width: 11.5px;
  height: 16.5px;
  margin-right: 6px;
  /* margin-top: 2px; */
}

.addLocation {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  /* margin-top: 23px; */
}

.addLinkLocation {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
}
.rangerBox {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
.ranger {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.range {
  font-size: 14px;
  padding-top: 23px;
  padding-bottom: 23px;
  width: 100%;
  display: flex;
}
/* .ranger img {
 margin-top: 4px
} */

.range span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-right: 6px;
}

.footer {
  /* background: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13.62px 29px 31.62px 40.27px;
  position: sticky;
  bottom: -20px;
  margin: 0px -19px -40px -39px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footers {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  background: var(--primary-color);
  padding: 16px 24px 24px 24px;
  gap: 16px;
  /* padding: 20.62px 19px 10.62px 42.27px; */
  position: sticky;
  bottom: 0px;
  /* margin: 20px -30px -40px -44px; */
}

.removeService {
  font-family: "Poppins";
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer !important;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-left: -6px;
}
.addUpdateLocation {
  border: none;
  background-color: #e3f6fc;
  padding: 6px 6px;
  border-radius: 2px;
  color: var(--primary-color);
  font-weight: 600;
  font-size: 18px;
  cursor: pointer !important;
}

/* .removeService:hover {
  background-color: #0096c4;
  border-radius: 4px;
} */

.removeService img {
  margin-right: 8px;
}

.saveButton {
  background: #000000;
  color: #ffffff;
  padding: 8px 10px;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  cursor: pointer !important;
  margin-right: 12px;
  width: 84px;
  font-size: 14px;
}
.backBtn {
  background: #ffffff;
  color: #000000;
  padding: 8px 10px;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  cursor: pointer !important;
  margin-right: 12px;
  width: 84px;
  font-size: 14px;
}
.saveButton:hover {
  background-color: #000000cf;
}

.customerQuestionsWrapper {
  /* position: absolute; */
  /* width: 350px; */
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  padding: 15px;
}

@media screen and (max-width: 768px) {
  .modal {
    padding: 20px;
    max-width: 100%;
    width: -webkit-fill-available;
  }

  .title {
    font-size: 28px;
  }

  .subHeader {
    font-size: 16px;
  }

  .description {
    font-size: 16px;
  }

  .questionTitle {
    font-size: 15px;
  }

  .option {
    font-size: 12px;
  }

  .suggestion span,
  .suggestLink,
  .addLocation {
    font-size: 16px;
  }
  .suggestLink {
    color: var(--primary-color);
    cursor: pointer !important ;
  }

  /* .footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 24px;
  } */

  .removeService,
  .saveButton {
    margin-right: 16px;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 24px;
  }
  .modal {
    padding: 10px 10px;
    height: 77.9vh;
    padding-bottom: 10px !important;
  }

  .subHeader {
    font-size: 14px;
  }

  .description {
    font-size: 14px;
  }

  .suggestion,
  .locations {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  .rangerBox {
    display: block;
    flex-direction: column;
    align-items: flex-start;
  }

  .range {
    padding-bottom: 10px;
  }
  .suggestion span,
  .suggestLink,
  .addLocation {
    font-size: 15px;
  }
  .addLocation {
    margin-left: 0px;
  }

  .saveButton {
    padding: 6px 10px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0.5px #0000001a;
    cursor: pointer !important;
    margin-right: 12px;
    width: 84px;
    font-size: 14px;
  }
  .backBtn {
    background: #ffffff;
    color: #000000;
    padding: 6px 10px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0.5px #0000001a;
    cursor: pointer !important;
    margin-right: 12px;
    width: 84px;
    font-size: 14px;
  }
  /* .questionBox img {
    margin-top: -24px;
  } */
  .removeService {
    font-size: 14px;
    gap: 2px;
    text-align: start;
  }
  .ranger {
    display: flex;
    flex-direction: column;
    /* width: 50%; */
  }
  .range {
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: max-content !important;
    /* display: flex; */
  }
  .range span {
    gap: 6px;
    margin-right: 6px;
  }
  .option {
    display: flex;
    align-items: flex-start;
    margin: 14.47px 0;
    font-weight: 500;
    font-size: 13px;
    color: #000000;
    line-height: 16px;
    margin-left: 16px;
  }
  .mainBox {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 24px;
  }
  .questionTitle {
    display: flex;
    gap: 12px;
  }
  .questionBox {
    background: #ffffff;
    padding: 11px 12.66px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .option input {
    margin-right: 0px;
    margin-top: 2px;
    margin-bottom: 0px;
  }
  .footer {
    background: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 0px;
    position: sticky;
    bottom: -20px;
    margin: 24px 0px 0px 0px;
  }
  .footers {
    background: var(--primary-color);

    padding: 21.62px 4px 21.62px 15px;
    position: sticky;
    bottom: -20px;
    margin: 0px 0px 0px 0px;
  }
}
