.modalOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 24px;
  width: 80%;
  max-width: 581px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 65vh;
  overflow: auto;
}
.closeButton {
  position: absolute;
  top: -2px;
  right: 2px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer !important;
  color: #b7b7b7;
}
.title {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
}

.subtitle {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 25px;
  margin-top: 6px;
  margin-bottom: 35px;
}

.checkboxList {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-bottom: 41px;
}

.checkboxItem {
  position: relative;
  padding: 16px 15px;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  font-weight: 600;
  font-size: 16px;
  color: #828282;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer !important;
  user-select: none;
}

.checkboxItem input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  right: 16px;
  height: 20px;
  width: 20px;
  z-index: 2;
  cursor: pointer !important;
}

.customCheckbox {
  height: 20px;
  width: 20px;
  background-color: white;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.checkboxItem input[type="checkbox"]:checked ~ .customCheckbox::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid var(--primary-color);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.labelText {
  z-index: 1;
}

.buttonRow {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.cancelBtn {
  padding: 8px 16px;
  background-color: #c6c6c6;
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: 500;
  cursor: pointer !important;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  font-weight: 500;
  font-size: 20px;
  vertical-align: middle;
}

.saveBtn {
  padding: 8px 16px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: 500;
  cursor: pointer !important;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  font-weight: 500;
  font-size: 20px;
  vertical-align: middle;
}
@media screen and (max-width: 480px) {
  /* .modalContent {
    padding: 10px 20px;
    margin: 20px 10px;
    height: fit-content;
  } */
  .modalOverlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: unset;
    /* width: 100%; */
    justify-content: center;
    z-index: 1000;
    overflow-x: scroll;
  }
  .subtitle {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 24px;
  }
  .saveBtn {
    padding: 6px 10px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: 500;
    cursor: pointer !important;
    box-shadow: 0px 0px 2px 0.5px #0000001a;
    font-weight: 500;
    font-size: 14px;
    /* vertical-align: middle; */
  }
  .cancelBtn {
    padding: 6px 10px;
    background-color: #c6c6c6;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: 500;
    cursor: pointer !important;
    box-shadow: 0px 0px 2px 0.5px #0000001a;
    font-weight: 500;
    font-size: 14px;
    /* vertical-align: middle; */
  }
  .buttonRow {
    margin-bottom: 18px;
  }
  .checkboxList {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-bottom: 24px;
  }
}
