.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  overflow: scroll;
}

.modal {
  background: white;
  padding: 45px 43px;
  width: 80%;
  max-width: 747px;
  position: fixed;
  background-color: white;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  max-height: 65vh;
}

.closeButton {
  position: absolute;
  top: 4px;
  right: 4px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer !important;
  color: #b7b7b7;
}

.title {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 36px;
  text-align: center;
  color: #0a0a0a !important;
}

.subtitle {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 24px;
  display: flex;
  color: #0a0a0a !important;
}

.infoIcon {
  margin-right: 6px;
}

.infoIcon img {
  width: 18px;
  height: 18px;
  margin-top: 6px;
}

.label {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  margin-bottom: 11px;
}

.input {
  width: -webkit-fill-available;
  min-width: -moz-available;
  padding: 10px 20px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  margin-bottom: 12px;
}

.dropdown {
  background: #fff;
  color: #0a0a0a;
  border: 1px solid #d9d9d9;
  max-height: 150px;
  overflow-y: auto;
  margin-top: -10px;
  margin-bottom: 19px;
}

.dropdownItem {
  padding: 8px 12px;
  cursor: pointer !important;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
}

.suggestions {
  margin-bottom: 35px;
}

.suggestionText {
  font-weight: 500;
  font-size: 14px;
  color: #828282;
  margin-bottom: 19px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  background: #e3f6fc;
  color: #000000;
  border-radius: 4px;
  padding: 9px 19px;
  cursor: pointer !important;
  border-radius: 5px;
  user-select: none;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.cancelButton {
  background: #c6c6c6;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer !important;
  font-weight: 500;
  font-size: 20px;
}

.submitButton {
  background: var(--primary-color);
  color: white;
  padding: 8px 23px;
  border: none;
  border-radius: 3px;
  cursor: pointer !important;
  font-weight: 500;
  font-size: 20px;
}

.cancelButton:hover {
  background: #e0e0e0;
}

.submitButton:hover {
  background: #0090dd;
}
.selectedSection {
  margin-top: 1rem;
}

.selectedTag {
  background-color: #e3f6fc;
  color: #0a0a0a;
  padding: 6px 10px;
  border-radius: 16px;
  display: inline-flex;
  align-items: center;
  margin: 4px;
}

.removeIcon {
  background: none;
  border: none;
  font-size: 14px;
  margin-left: 8px;
  cursor: pointer !important;
  color: #888;
}

.removeIcon:hover {
  color: red;
}

@media (max-width: 768px) {
  /* .modal {
    padding: 30px 20px;
    margin: 0px 10px;
  } */

  .title {
    font-size: 20px;
  }

  .subtitle {
    font-size: 16px;
    /* flex-direction: column; */
  }

  .submitButton,
  .cancelButton {
    font-size: 18px;
    padding: 8px 18px;
  }

  .actions {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  .tag {
    font-size: 14px;
    padding: 7px 15px;
  }

  .selectedTag {
    font-size: 14px;
    padding: 5px 8px;
  }
}

/* Mobile devices (480px and below) */
@media (max-width: 480px) {
  .modal {
    width: 80%;
    padding: 14px 20px;
  }

  .title {
    font-size: 18px;
  }

  .subtitle {
    font-size: 14px;
  }

  .input {
    padding: 8px 14px;
    font-size: 14px;
  }

  .submitButton,
  .cancelButton {
    font-size: 16px;
    padding: 6px 14px;
    width: 100%;
  }

  .actions {
    flex-direction: column-reverse;
    gap: 10px;
  }

  .tag {
    font-size: 13px;
    padding: 6px 12px;
  }

  .suggestionText {
    font-size: 13px;
  }

  .dropdownItem {
    font-size: 14px;
    padding: 6px 10px;
  }
  .infoIcon img {
    width: 18px;
    height: 18px;
    margin-top: 4px;
  }
}
@media screen and (max-width: 350px) {
  .modal {
    width: 85%;
    padding: 5px 12px;
  }
}
