.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background: #fff;
  padding: 24px;
  width: 600px;
  max-width: 80%;
  /* height: 80vh; */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: white;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalHeader h2 {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  margin: 0;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 4px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer !important;
  color: #b7b7b7;
}

.infoBox {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  font-size: 14px;
  margin-top: 16px;
}
.infoBox img {
  margin-top: -26px;
}

.infoBox span {
  font-weight: 400;
  font-size: 18px;
}

.infoIcon {
  font-size: 16px;
}

.inputRow {
  display: flex;
  gap: 16px;
  margin-top: 20px;
  flex-wrap: wrap;
  /* width: 100%; */
}

.inputField {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  max-width: -webkit-fill-available;
}

.inputField label {
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}

.inputField input,
.inputField select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* width: 100%;
  max-width: -webkit-fill-available; */
  /* background: red; */
}

.mapBox {
  margin-top: 20px;
  width: 100%;
  height: 300px;
  border-radius: 6px;
  overflow: hidden;
}

.modalFooter {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.cancelBtn {
  background: #c6c6c6;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer !important;
  font-weight: 500;
  font-size: 20px;
}

.nextBtn {
  background: var(--primary-color);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer !important;
  font-weight: 500;
  font-size: 20px;
}
.customSelect {
  appearance: none;
  height: 43px;
  width: -webkit-fill-available;
  /* height: -webkit-fill-available; */
}

.cancelBtn:hover {
  background: #e0e0e0;
}

.nextBtn:hover {
  background: #0090dd;
}
@media screen and (max-width: 767px) {
  .infoBox img {
    margin-top: 0px;
  }
}

@media screen and (max-width: 480px) {
  .modalOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    display: flex;
    align-items: unset !important;
    justify-content: center;
    overflow-x: scroll;
  }
  /* .modalContent {
    background: #fff;
    padding: 20px 16px;
    margin: 20px 10px;
    max-width: 75%;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 84vh;
  } */

  .modalContent {
    top: 55%;
    height: 70vh;
  }
  .cancelBtn {
    background: #c6c6c6;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer !important;
    font-weight: 500;
    font-size: 14px;
  }

  .nextBtn {
    background: var(--primary-color);
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer !important;
    font-weight: 500;
    font-size: 14px;
  }

  .cancelBtn:hover {
    background: #e0e0e0;
  }

  .nextBtn:hover {
    background: #0090dd;
  }
  .infoBox {
    padding: 0px;
  }
  .infoBox img {
    margin-top: -34px;
  }
  .infoBox span {
    font-size: 12px;
  }
}
