.container {
  text-align: center;
  padding: 80px 20px;
  background-color: #f9f9fa;
  min-height: auto;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 16px;
  color: #555;
  margin-bottom: 30px;
}

.card {
  max-width: 500px;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.label {
  font-size: 16px;
  text-align: left;
  font-weight: 500;
  margin-bottom: 4px;
}

.input,
.select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  width: -webkit-fill-available;
  min-width: -moz-available;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.backButton {
  background: #000000;
  color: #ffffff;
  padding: 8px 29px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer !important;
}

.backButton:hover {
  background: #000000cf;
}

.saveButton {
  background: var(--primary-color);
  color: #ffffff;
  padding: 8px 29px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer !important;
}

.saveButton:hover {
  background: #0096c4;
}

.suggestedAnswerRow {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.removeBtn {
  background: none;
  border: none;
  cursor: pointer !important;
  color: red;
  font-size: 18px;
}

.addBtn {
  background-color: #f0f0f0;
  border: 1px dashed #ccc;
  padding: 6px 12px;
  margin-top: 10px;
  cursor: pointer !important;
}
