.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px 0 23px 0;
}

.card {
  border: 1px solid #d9d9d9;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  padding: 18px;
  background-color: #fff;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 11px;
  color: #828282;
}

.subtext {
  font-size: 14px;
  color: #828282;
  margin-bottom: 16px;
  text-align: justify;
  /* max-width: 830px; */
}

.inputRow {
  margin-bottom: 18px;
}
.error {
  font-size: 14px;
  color: red;
}

.labelWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 14px;
  color: #000000;
  display: block;
}

.inputWithToggle {
  display: flex;
  align-items: center;
  gap: 12px;
}

.input {
  flex: 1;
  padding: 8px;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  font-size: 14px;
  color: #828282;
  width: -webkit-fill-available;
}

.textarea {
  font-family: "Poppins" !important;
  flex: 1;
  padding: 8px;
  width: 100%;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  font-size: 14px;
  resize: vertical;
  color: #828282;
}

.optionalToggle {
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
  margin-bottom: 10px;
}

.icon {
  width: 14px;
  height: 14px;
}

.optionalText {
  font-size: 14px;
  font-weight: 500;
  color: #828282;
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: #ffffff;
  transition: 0.3s;
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: #00b6f0;
}

.switch input:checked + .slider:before {
  transform: translateX(16px);
}
.footer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.saveButton {
  background-color: var(--primary-color);
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  color: #fff;
  border: none;
  padding: 8px 21px;
  border-radius: 3px;
  cursor: pointer !important;
  font-size: 20px;
  font-weight: 500;
}
.saveButton:hover {
  background-color: #0096c4;
}
.cancelBtn {
  background-color: #c6c6c6;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  color: #fff;
  border: none;
  padding: 8px 10px;
  border-radius: 3px;
  cursor: pointer !important;
  font-size: 20px;
  font-weight: 500;
}
.cancelBtn:hover {
  background-color: #ccc;
}
@media screen and (max-width: 480px) {
  .heading {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 11px;
    color: #828282;
  }
}

@media screen and (max-width: 380px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .cancelBtn,
  .saveButton {
    /* width: 100%; */
    width: 84px;
    padding: 8px 10px;
    font-size: 14px;
  }
}
