.modalOverlay {
  position: relative;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  height: 100%;
  box-shadow: 0px 0px 10px 0px #0000000f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background: #ffffff;
  padding: 24px 31px 24px 31px;
  width: 440px;
  text-align: center;
}

.closeButton {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 29px;
  height: 29px;
  background: white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: var(--primary-color);
  cursor: pointer !important;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.closeButton:active {
  transform: scale(0.9);
}

.headerImage {
  background-image: url("./banner/PatioServices.webp");
  background-size: cover;
  background-position: center;
  padding: 0px 20px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  min-height: 158px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.headerBackground {
  background: rgba(0, 0, 0, 0.5);
  padding: 4px 8px;
}
.headerImage1 {
  background-image: url("./banner/ArtificialGrass.webp");
  background-size: cover;
  background-position: center;
  padding: 0px 20px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  min-height: 158px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.headerImage2 {
  background-image: url("../../../assets/Images/Builders.jpg");
  background-size: cover;
  background-position: center;
  padding: 0px 20px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  min-height: 158px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.headerImage3 {
  background-image: url("../banner/Driveways.webp");
  background-size: cover;
  background-position: center;
  padding: 0px 20px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  min-height: 158px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.headerImage4 {
  background-image: url("../banner/Fence.webp");
  background-size: cover;
  background-position: center;
  padding: 0px 20px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  min-height: 158px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headerImage5 {
  background-image: url("../../../assets/Images/Gardening-&-Landscaping.jpg");
  background-size: cover;
  background-position: center;
  padding: 0px 20px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  min-height: 158px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headerImage6 {
  background-image: url("");
  background-size: cover;
  background-position: center;
  padding: 0px 20px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  min-height: 158px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headerImage7 {
  background-image: url("../banner/landscapingandgardeningBanner.webp");
  background-size: cover;
  background-position: center;
  padding: 0px 20px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  min-height: 158px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.headerImage8 {
  background-image: url("../banner/Gate.webp");
  background-size: cover;
  background-position: center;
  padding: 0px 20px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  min-height: 158px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headerImage h2 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0px;
}

.headerImage1 h2 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0px;
}
.headerImage2 h2 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0px;
}
.headerImage3 h2 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0px;
}
.headerImage4 h2 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0px;
}
.headerImage5 h2 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0px;
}
.headerImage6 h2 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0px;
}
.headerImage7 h2 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0px;
}
.headerImage8 h2 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0px;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  gap: 7px;
  overflow: auto;
  max-height: 40vh;
}

/* .option {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #dedede;
  padding: 10px;
  cursor: pointer !important;
  font-size: 14px;
  font-weight: 500;
  font-family: poppins;
  border-radius: 3px;
  color: #000000;
  text-align: start;
} */

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
}

.backButton {
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  background: #000000;
  border-radius: 3px;
  color: white;
  padding: 10px 23px;
  border: none;
  cursor: pointer !important;
  font-weight: 500;
  font-size: 20px;
  vertical-align: middle;
}

.backButton:hover {
  background-color: #000000cf;
}

.nextButton {
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  background: var(--primary-color);
  border-radius: 3px;
  color: white;
  padding: 10px 23px;
  border: none;
  cursor: pointer !important;
  font-weight: 500;
  font-size: 20px;
  vertical-align: middle;
  margin-left: auto;
}

.nextButton:hover {
  background-color: #0096c4;
}

.input {
  /* width: -webkit-fill-available; */
  width: 95%;
  padding: 10.5px;
  font-size: 16px;
  border: 1px solid #d9d9d9;
  /* box-shadow: 0px 0px 2px 0.5px #0000001a; */
  outline: none;
  height: 20px;
}
.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 320px;
  max-width: 300px;
  width: 300px;
}
.noQuestion {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 16px;
  color: #000000;
}
/* .option input {
  width: 14px;
  margin: 0px;
}
.options {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #dedede;
  padding: 10px;
  cursor: pointer !important;
  font-size: 14px;
  font-weight: 500;
  font-family: poppins;
  border-radius: 3px;
  color: #000000;
}
.options input {
  width: 14px;
  margin: 0px;
} */
/* Common style for both radio and checkbox wrappers */

.option,
.options {
  display: flex;
  align-items: center; /* ensures input aligns to the top of the text */
  gap: 8px;
  border: 1px solid #dedede;
  padding: 10px;
  cursor: pointer !important;
  font-size: 14px;
  font-weight: 500;

  border-radius: 3px;
  color: #000000;
  text-align: start;
}

/* Make input stay at top even for multiline */
.option input {
  margin-top: 0px;
}
.options input {
  margin-top: 3px;
  flex-shrink: 0;
}

/* Wrap long text */
.option span,
.options span {
  display: inline-block;
  word-break: break-word;
  /* width: calc(100% - 24px);  */
}
@media (max-width: 1150px) {
  .modalContent {
    max-width: 300px;
  }
}
@media (max-width: 820px) {
  .modalContent {
    /* max-height: 80vh; */
    max-width: 443px;
  }
}

@media (max-width: 768px) {
  .modalContent {
    width: 90%;
    padding: 18px;
  }

  .headerImage {
    font-size: clamp(16px, 4vw, 20px);
    padding: 40px 15px;
  }

  .headerImage1 {
    font-size: clamp(16px, 4vw, 20px);
    padding: 40px 15px;
  }
  .headerImage2 {
    font-size: clamp(16px, 4vw, 20px);
    padding: 40px 15px;
  }
  .headerImage3 {
    font-size: clamp(16px, 4vw, 20px);
    padding: 40px 15px;
  }
  .headerImage4 {
    font-size: clamp(16px, 4vw, 20px);
    padding: 40px 15px;
  }
  .headerImage5 {
    font-size: clamp(16px, 4vw, 20px);
    padding: 40px 15px;
  }
  .headerImage6 {
    font-size: clamp(16px, 4vw, 20px);
    padding: 40px 15px;
  }
  .headerImage7 {
    font-size: clamp(16px, 4vw, 20px);
    padding: 40px 15px;
  }
  .headerImage8 {
    font-size: clamp(16px, 4vw, 20px);
    padding: 40px 15px;
  }

  .option {
    font-size: 12px;
    padding: 20px 8px;
  }

  /* .buttonContainer {
    flex-direction: column;
    gap: 10px;
  } */

  .backButton,
  .nextButton {
    font-size: 18px;
    padding: 8px 15px;
  }
  .input {
    font-size: 14px;
    padding: 10px;
    outline: none;
  }
}

@media (max-width: 480px) {
  .modalContent {
    /* width: 78%; */
    padding: 8px;
  }
  .loaderContainer {
    width: 200px;
  }
  /* .option {
    text-align: start;
    align-items: start;
   
  }*/
  .option input {
    margin-top: 0px;
  }

  .options input {
    margin-top: 0px;
  }
  .options {
    text-align: start;
    align-items: center;
  }
  .option {
    text-align: start;
    align-items: center;
  }
  /* .option input {
  margin-top: 3px;
}
.options input {
  margin-top: 4px; 
} */

  .headerImage {
    min-height: 120px;
  }

  .closeButton {
    width: 24px;
    height: 24px;
  }

  .option {
    font-size: 12px;
    padding: 7px;
  }
  .options {
    font-size: 12px;
    padding: 7px;
  }
  .nextButton {
    padding: 8px 23px;
    font-size: 14px;
  }
  .buttonContainer {
    margin-top: 16px;
  }
  .backButton,
  .nextButton {
    font-size: 14px;
    padding: 8px 23px;
  }
  .input {
    font-size: 14px;
    padding: 8px;
    outline: none;
  }
}
/* NSai */
.errorMessage {
  color: red;
  text-align: start;
}
@media screen and (max-width: 350px) {
  .input {
    font-size: 14px;
    padding: 6px;
    outline: none;
  }
}
