.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 60px 20px;
  text-align: center;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 94px; /* 94px gap between buttons */
  flex-wrap: wrap;
}

.button {
  max-height: fit-content;
  height: 76.14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  background-color: #e3f6fc;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 20px;
  padding-top: 20px;
  gap: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--text-color);
  width: auto;
}

.button:hover {
  background-color: #c9e9f5;
  transform: translateY(-2px);
}

.icon {
  font-size: 20px;
  display: flex;
  align-items: center;
}

/* Responsive adjustments */
@media (max-width: 1100px) {
  .buttonsContainer {
    gap: 40px; /* Reduced gap on smaller screens */
  }
}

@media (max-width: 900px) {
  .container {
    gap: 16px;
    padding: 0px 4px 20px;
  }
  .buttonsContainer {
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Vertical gap when stacked */
  }

  .button {
    width: 100%;
    /* max-width: 400px; */
  }
}

@media (max-width: 480px) {
  .button {
    width: 100%;
    max-width: 320px; /* Add max-width for control */
    margin: 0 auto; /* Center horizontally */
    font-size: 16px;
    height: auto;
    padding: 12px 16px;
    box-sizing: border-box;
  }
}
