.parentContainer {
  padding: 40px 20px;
  background-color: #f9f9fa;
  /* min-height: 100vh; */
}

.container {
  max-width: 550px;
  margin: 40px auto;
  padding: 0 16px;
  text-align: center;
}

.heading {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.subheading {
  font-size: 16px;
  color: #666;
  margin-bottom: 24px;
}

.card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.questionItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #eee;
  font-size: 15px;
  cursor: pointer !important;
  transition: background 0.2s;
}

.noBorder {
  padding: 36px 20px;
  border-bottom: none;
}

.questionRow {
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  cursor: pointer !important;
  transition: background 0.2s;
}

.input {
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
  margin-bottom: 20px;
}

.arrow {
  font-size: 24px;
  color: #999;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 0 24px;
}

.backButton {
  background: #000000;
  color: #ffffff;
  padding: 8px 29px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer !important;
}

.backButton:hover {
  background: #000000cf;
}

.saveButton {
  background: var(--primary-color);
  color: #ffffff;
  padding: 8px 29px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer !important;
}

.saveButton:hover {
  background: #0096c4;
}

.editInputBlock {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
}

.editBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.label {
  font-size: 16px;
  text-align: left;
  font-weight: 500;
  margin-bottom: 4px;
}

.dropdown {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  width: -webkit-fill-available;
}

.suggestedAnswersBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.answerInputBlock {
  display: flex;
  width: -webkit-fill-available;
  align-items: center;
  gap: 20px;
}

.answerRow {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0px;
}

.answerRow input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.removeBtn {
  cursor: pointer !important;
  color: red;
  font-size: 18px;
}

.addAnswerInput {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.addAnswerInput button {
  background-color: #f0f0f0;
  border: 1px dashed #ccc;
  padding: 6px 12px;
  margin-top: 10px;
  cursor: pointer !important;
}

.addAnswerInput input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}
