.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 17px;
  padding: 20px 88px 20px;
  width: -webkit-fill-available;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: white;
  padding: 31px 43px;
  width: -webkit-fill-available;
  /* height: 100%; */
  min-height: 85%;
  text-align: left;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
.heading {
  font-size: 35px;
  font-weight: 400;
  margin-top: 20px;
  padding-left: 16px;
  padding-right: 16px;
}
.iconContainer {
  width: 54px;
  height: 54px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  width: 30px;
  height: 30px;
}

.title {
  font-size: 25px;
  font-weight: 400;
  color: #000000;
  white-space: nowrap;
}

.title span {
  color: #ffffff;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 0%;
  /* vertical-align: middle; */
}

.list {
  /* list-style-type: none; */
  padding: 0 0 0 17px;
  margin-bottom: 15px;
}

.list li {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0%;
  margin-bottom: 5px;
}

.button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer !important;
  border-radius: 4.66px;
  margin-top: 23.69px;
  /* width: 100%; */
}

.button:hover {
  background-color: #333;
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media (max-width: 980px) {
  .container {
    padding: 20px 40px 20px;
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .button {
    padding: 15px;
  }
  .heading {
    font-size: 28px;
    font-weight: 400;
    margin-top: 20px;
  }
}

@media (max-width: 520px) {
  .container {
    padding: 26px !important;
  }
}
@media screen and (max-width: 460px) {
  .container {
    padding: 16px !important;
  }

  .header {
    /* flex-direction: column; */
    display: flex;
    align-items: center;
  }
  .title {
    white-space: normal;
    font-size: 22px;
  }

  .title span {
    font-size: 22px;
  }
  .button {
    font-size: 16px;
    padding: 12px;
    margin-top: 0px;
  }
}
@media screen and (max-width: 380px) {
  .container {
    padding: 16px !important;
  }

  .card {
    padding: 14px;
  }
  .list {
    /* list-style-type: none; */
    padding: 0 0 0 19px;
    margin-bottom: 15px;
  }
  .title {
    white-space: normal;
    font-size: 19px;
  }

  .title span {
    font-size: 19px;
  }
}
