.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

  }
  
  .modal {
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    padding: 40px;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    overlay: auto;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;
   
  }
  
  .closeBtn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer !important;
    color: #666;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .row {
    padding: 10px 10px;
    border-bottom: 1px solid #f0f0f0;
    background-color: #C8C8C820;
    border-radius: 4px;
  }
  
  .label {
    color: #999;
    font-size: 14px;
    margin: 0;
  }
  
  .value {
    font-weight: bold;
    font-size: 15px;
    margin: 0;
    color: #000;
  }
  