.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  height: 100%;
  box-shadow: 0px 0px 10px 0px #0000000f;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.phoneWrapper {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.inputWithPrefix {
  position: relative;
  display: flex;
  align-items: center;
}

.prefix {
  position: absolute;
  left: 10px;
  color: #555;
  font-size: 14px;
  pointer-events: none;
}

.inputWithPrefix input {
  padding-left: 40px; /* space for +44 */
  width: 100%;
}

.prefix {
  padding: 14px;
  background: #f3f3f3;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 6px 0 0 6px;
  font-size: 14px;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer !important;
  color: #000000;
}

.modalContent {
  background: #ffffff;
  padding: 41px 31px;
  width: 500px;
  text-align: center;
}

.label {
  display: block;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  color: #828282;
  margin-bottom: 5px;
}

.header h2 {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 38px;
  color: #000000;
}

.input {
  display: flex;
  justify-content: start;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  border: 1px solid #d9d9d9;
  width: -webkit-fill-available;
  min-width: -moz-available;
  padding: 12px;
  border: 1px solid #ccc;
  color: #828282;
}

.errorMessage {
  color: red;
  font-size: 12px;
  display: block;
  text-align: left;
  margin-top: 5px;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 26px;
  margin-bottom: 49px;
}

.checkboxContainer input {
  height: 24px;
  width: 24px;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  padding: 10px;
}

.checkboxContainer label {
  font-weight: 500;
  font-size: 14px;
  color: #828282;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 47px;
}

.backButton {
  background: #000000;
  color: #ffffff;
  padding: 8px 29px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer !important;
}

.backButton:hover {
  background-color: #000000cf;
}

.nextButton {
  background: var(--primary-color);
  color: #ffffff;
  padding: 8px 29px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer !important;
}

.nextButton:hover {
  background-color: #0096c4;
}

.disclaimer {
  font-weight: 500;
  font-size: 10px;
  color: #666;
  text-align: left;
}

@media (max-width: 768px) {
  .modalContent {
    width: 70%;
    padding: 30px;
  }

  .header h2 {
    font-size: 20px;
  }
  .closeButton {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer !important;
    color: #000000;
  }

  .label {
    display: block;
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    color: #828282;
    margin-bottom: 5px;
  }

  .input {
    font-size: 14px;
    padding: 10px;
  }

  .buttonContainer {
    flex-direction: row;
    gap: 10px;
  }

  .checkboxContainer input {
    height: 20px;
    width: 20px;
  }

  .checkboxContainer label {
    font-size: 10px;
  }

  .backButton,
  .nextButton {
    font-size: 14px;
    padding: 8px 20px;
  }
}

@media (max-width: 480px) {
  .modalContent {
    width: 80%;
    padding: 25px;
  }

  .header h2 {
    margin-bottom: 20px;
  }

  .input {
    font-size: 14px;
    padding: 10px;
  }

  .checkboxContainer {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .buttonContainer {
    margin-bottom: 20px;
  }

  .backButton,
  .nextButton {
    /* width: 84px; */
    font-size: 14px;
    padding: 8px 10px;
    font-weight: 500;
  }
  .closeButton {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer !important;
    color: #000000;
  }
}
@media screen and (max-width: 350px) {
  .modalContent {
    width: 90%;
    padding: 20px;
  }

  .header h2 {
    font-size: 18px;
  }

  .input {
    font-size: 12px;
    padding: 8px;
  }

  .backButton,
  .nextButton {
    /* width: 84px; */
    font-size: 14px;
    padding: 8px 10px;
    font-weight: 500;
  }
  .checkboxContainer {
    display: flex;
    align-items: center;
    gap: 3px;
  }
  .closeButton {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer !important;
    color: #000000;
  }
}
