.parentContainer {
  background-color: #f9f9fa;
  padding: 0px 20px;
  position: relative;
  z-index: 9999;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 100px 0;
  align-items: center;
  text-align: center;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  margin-bottom: 26px;
}

.otherService_heading {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.subheading {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.card {
  background: white;
  padding: 37px 50px;
  border-radius: 8px;
  width: -webkit-fill-available;
  max-width: 563px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.label {
  /* font-family: Inter; */
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 39px;
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.serviceTag {
  background: #e3f6fc;
  color: var(--primary-color);
  padding: 4px 20px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 18px;
  width: fit-content;
}

.secondaryLabel {
  /* font-family: Inter; */
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  margin-bottom: 15px;
  text-align: start;
}

.selectedServices {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 10px;
  /* background-color: var(--primary-color); */
}

.selectedTag {
  background-color: var(--primary-color);
  color: white;
  padding: 6px 10px;
  border-radius: 3px;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 500;
  vertical-align: middle;
}

.removeBtn {
  background: none;
  border: none;
  color: white;
  margin-left: 5px;
  cursor: pointer !important;
}

.searchBox {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 39px;
}

.checkbox {
  width: 24px;
  height: 24px;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
}

.labelText {
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}

.dropdownWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 12px;
  width: 100%;
}

.dropdown {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  width: 100%;
  max-width: 278px;
  height: 40px;
  font-weight: 500;
  font-size: 14px;
  color: #828282;

  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16' fill='%23000000'%3E%3Cpath d='M7 10l5 5 5-5H7z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px;
  padding-right: 30px;
}

.expandBtn {
  font-family: poppins;
  background: var(--primary-color);
  color: #ffffff;
  border: none;
  padding: 5px 11px;
  border-radius: 3px;
  cursor: pointer !important;
  font-weight: 500;
  font-size: 20px;
  vertical-align: middle;
  min-width: fit-content;
}

.leadInfo_wrapper {
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e3f6fc;
  padding: 10px 36.5px;
}

.leadInfo {
  border-radius: 4px;
  text-align: left;
  margin-bottom: 10px;
}

.leadCount {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 32px;
  vertical-align: middle;
}

.leadText {
  font-weight: 300;
  font-size: 14px;
  color: #828282;
}

.nextBtn {
  background: var(--primary-color);
  color: white;
  border: none;
  width: fit-content;
  border-radius: 4px;
  cursor: pointer !important;
  font-weight: 500;
  font-size: 20px;
  vertical-align: middle;
  padding: 8px 23px;
}
.searchInputContainer {
  width: min-content;
  position: relative;
  display: flex;
  align-items: center;
}
.searchInputContainer {
  position: relative;
  width: 100%;
}

.searchInput {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.searchInput::placeholder {
  color: #828282;
}

.searchResults {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.searchItem {
  padding: 10px;
  font-size: 14px;
  cursor: pointer !important;
  transition: background 0.2s;
  text-align: start;
}

.searchItem:hover {
  background: #f0f0f0;
}
.errorText {
  color: red;
  font-size: 14px;
  margin-bottom: 2px;
  text-align: start;
}

.errorBorder {
  border: 2px solid red !important;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}

.backButton {
  background: black;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  color: white;
  padding: 10px 20.5px;
  border: none;
  border-radius: 3px;
  cursor: pointer !important;
  font-weight: 500;
  font-size: 20px;
  vertical-align: middle;
}

.backButton:hover {
  background-color: #000000cf;
}

.nextButton {
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  background: var(--primary-color);
  border-radius: 3px;
  color: white;
  padding: 10px 23px;
  border: none;
  cursor: pointer !important;
  font-weight: 500;
  font-size: 20px;
  vertical-align: middle;
}

.nextButton:hover {
  background-color: #0096c4;
}

/* 1024px (Tablets, Small Laptops) */
@media (max-width: 1024px) {
  .nextButton,
  .backButton {
    font-size: 18px;
    padding: 9px 20px;
  }
  .container {
    padding: 60px 0;
  }
  .buttonContainer {
    flex-direction: row;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .nextButton,
  .backButton {
    font-size: 16px;
    padding: 10px;
  }
  .buttonContainer {
    gap: 15px;
  }
  .container {
    padding: 40px 0;
  }
  .card {
    padding: 37px 40px;
  }
}

@media (max-width: 480px) {
  .nextButton,
  .backButton {
    width: 100%;
    font-size: 14px;
    padding: 10px;
  }
  .buttonContainer {
    gap: 15px;
  }
  .container {
    padding: 20px 0;
  }
}

@media (max-width: 569px) {
  .label {
    flex-direction: column;
    justify-content: center;
    gap: 16px;
  }
  .card {
    padding: 37px 20px;
  }
}

@media (max-width: 520px) {
  .dropdownWrapper {
    flex-direction: column;
    justify-content: center;
    gap: 16px;
  }
  .dropdown {
    max-width: 100%;
  }
  .expandBtn {
    width: 100%;
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 100px;
}

.modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: white;
  padding: 37px 50px;
  text-align: center;
  box-shadow: 0px 0px 10px 0px #0000000f;
  width: 100%;
  max-width: 556px;
}

.heading {
  /* font-family: Inter; */
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
  color: #000000;
}

.description {
  /* font-family: Inter; */
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-bottom: 36px;
  color: #000000;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.backButton {
  background: black;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  color: white;
  padding: 8px 20.5px;
  border: none;
  cursor: pointer !important;
  border-radius: 3px;
  font-weight: 500;
  font-size: 20px;
  vertical-align: middle;
}

.continueButton {
  background: var(--primary-color);
  color: white;
  padding: 8px 9px;
  border: none;
  cursor: pointer !important;
  border-radius: 3px;
  font-weight: 500;
  font-size: 20px;
  min-width: 98px;
  vertical-align: middle;
}

@media screen and (max-width:480px) {
  .modal {
  padding: 24px 24px;
  margin: 0px 15px;
 
}
.buttonGroup {
  display: flex;
 
  gap: 12px;
  
}
.continueButton {
  width: 84px;
    font-size: 14px;
    padding: 8px 10px;
    font-weight: 500;
} 
.backButton {
  width: 84px;
    font-size: 14px;
    padding: 8px 10px;
    font-weight: 500;
}


}