.container {
  text-align: center;
  padding: 93px 20px;
}

.heading {
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  color: #000;
}

.button {
  background-color: var(--primary-color);
  color: white;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  padding: 10px 23px;
  border: none;
  border-radius: 10px;
  cursor: pointer !important;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0096c4;
}

@media (max-width: 768px) {
  .container {
    padding: 50px 20px;
  }
  .heading {
    font-size: 28px;
  }

  .button {
    font-size: 28px;
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 30px 20px;
  }
  .heading {
    font-size: 20px;
  }

  .button {
    font-size: 16px;
    padding: 8px 16px;
  }
}
