.modalOverlay {
  position: relative;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  height: 100%;
  box-shadow: 0px 0px 10px 0px #0000000f;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 629px;
  width: 629px;
}
.logo {
  padding: 6px 0px 35px 0px;
  height: 48px;
  width: 211px;
}
.info {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  padding-top: 0px;
  padding-bottom: 28px;
  line-height: 100%;
  letter-spacing: 0.26px;
  line-height: 30px;
  /* padding-left: 55px;
  padding-right: 55px; */
  /* width: 100%;
  min-width: 100%; */
}
.mobileInfoText {
  display: none;
  max-width: 629px;
}
.desktopInfoText {
  display: block;
}
.phoneWrapper {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.phoneWrapper::before {
  content: "+44";
  position: absolute;
  top: 47.5%;
  left: 10px;
  transform: translateY(-50%);
  color: #000;
  pointer-events: none;
}

.welcomeTextContainer {
  color: #000;
  box-shadow: 0 0 32px 0px #00afe3;
  /* background: #00afe3; */
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 10px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 12px;
  max-width: 400px;
  margin: auto;
  border-radius: 16px;
}
.error44::before {
  content: "+44";
  position: absolute;
  top: 33.5%;
  left: 10px;
  transform: translateY(-50%);
  color: #000;
  pointer-events: none;
}

.prefix {
  padding: 12px;
  background: #f3f3f3;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 6px 0 0 6px;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer !important;
  color: #000000;
}

.modalContent {
  background: #ffffff;
  padding: 38px 4px 38px 4px;
  /* width: 629px;
  max-width: 629px; */
  text-align: center;
  border-radius: 10px;
}
.infoWrapper {
  margin-bottom: 8px;
  max-width: 400px;
  margin: auto;
  position: relative;
}

.label {
  display: block;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  margin-bottom: 5px;
  margin-top: 12px;
}

.header h2 {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: var(--text-color);
  vertical-align: middle;
  margin-bottom: 24px;
}
.headingBlueText {
  color: #00afe3;
}

.input {
  /* max-width: 400px; */
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: start;
  font-size: 16px !important;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  border: 1px solid #d9d9d9;
  width: -webkit-fill-available;
  padding: 8px;
  border: 1px solid #ccc;
  color: #828282;
  border-radius: 24px;
}
.input::placeholder {
  font-size: 16px !important;
}
.phoneInput {
  display: flex;
  justify-content: start;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  border: 1px solid #d9d9d9;
  width: -webkit-fill-available;
  padding: 12px;
  padding-left: 48px;
  border: 1px solid #ccc;
  color: #828282;
}

.inputError {
  border: 1px solid red !important;
}

.errorMessage {
  color: red !important;
  font-size: 12px;
  display: block;
  text-align: left;
  margin-top: 5px;
}
.errorText {
  background-color: pink;
  color: #000000;
  padding: 12px 12px;
  text-align: start;
  font-size: 12px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  /* margin-top: 24px; */
  /* display: none; */
}

.backButton {
  background: #000000;
  color: #ffffff;
  padding: 8px 29px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer !important;
}

.backButton:hover {
  background-color: #000000cf;
}

.nextButton {
  /* background: var(--primary-color);
  color: #ffffff;
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer !important; */
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  background: var(--primary-color);
  color: white;
  padding: 4px 30px;
  border: none;
  cursor: pointer !important;
  font-weight: 400;
  font-size: 16px;
  vertical-align: middle;
  min-width: 138px;
  position: absolute;
  right: 4px;
  border-radius: 24px;
  top: 11%;
}

.nextButton:hover {
  background-color: #0096c4;
}
/* .nextButtonMobile {
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  background: var(--primary-color);
  color: white;
  padding: 4px 30px;
  border: none;
  cursor: pointer !important;
  font-weight: 400;
  font-size: 16px;
  vertical-align: middle;
  min-width: 138px;
  border-radius: 24px;
} */
.nextButtonMobile {
  display: flex;
  align-items: center; /* vertical center */
  justify-content: center; /* optional: horizontal center */
  gap: 11px;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  /* background: var(--primary-color); */
  background: rgba(255, 116, 31, 1);
  color: white;
  padding: 6.9px 16px;
  border: none;
  cursor: pointer !important;
  font-weight: 700;
  font-size: 18px;
  vertical-align: middle;
  /* max-width: 138px; */
  border-radius: 4px;
}

.nextButtonMobile:hover {
  /* background-color: #0096c4; */
  background: rgba(255, 100, 20, 1);
}
@media screen and (max-width: 1024px) {
  .closeButton {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer !important;
    color: #000000;
  }
}

@media (max-width: 768px) {
  /* .modalContent {
    width: 70%;
    padding: 30px;

  } */
  .modalOverlay {
    width: 100%;
    min-width: 70%;
  }

  .modalContent {
    background: #ffffff;
    padding: 41px 4px;
    width: 450px;
    text-align: center;
  }

  .header h2 {
    font-size: 20px;
  }

  .label {
    display: block;
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    color: #828282;
    margin-bottom: 5px;
  }

  .input {
    font-size: 16px !important;
    padding: 8px;
  }

  /* .buttonContainer {
    flex-direction: row;
    gap: 10px;
    display: flex;
  } */

  .checkboxContainer input {
    height: 20px;
    width: 20px;
  }

  .checkboxContainer label {
    font-size: 10px;
  }

  .backButton {
    font-size: 14px;
    padding: 8px 20px;
  }
  .nextButton {
    display: none;
  }
  .nextButtonMobile {
    display: flex;
    margin: auto;
  }
  .closeButton {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer !important;
    color: #000000;
  }
}
@media (max-width: 540px) {
  .info {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 400px;
    margin: auto;
  }
  .mobileInfoText {
    display: block;
  }
  .desktopInfoText {
    display: none;
  }
}

@media (max-width: 480px) {
  .modalOverlay {
    max-width: 100%;
    min-width: none;
  }
  .modalContent {
    width: 95%;
    padding: 32px 4px;
  }
  .nextButtonMobile {
    font-size: 14px;
    padding: 6.9px 10px;
    gap: 4px;
  }
  .arrow {
    height: 10px;
  }
  .header h2 {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .input {
    font-size: 16px;
    padding: 8px;
  }

  .checkboxContainer {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .label {
    color: #000000;
    font-weight: 600;
    font-size: 14px;
  }

  .buttonContainer {
    margin-bottom: 0px;
  }
  .infoWrapper {
    margin-bottom: 0px;
  }

  .backButton,
  .nextButton {
    width: 84px;
    font-size: 14px;
    padding: 8px 10px;
    font-weight: 500;
  }
  .closeButton {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer !important;
    color: #000000;
  }
}
@media (max-width: 320px) {
  .nextButtonMobile {
    font-size: 14px;
    padding: 6.9px 4px;
    gap: 4px;
  }
}
