.wrapper {
  text-align: center;
  width: 100%;
}

.heading {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  margin-bottom: 50px;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;
}

@media (min-width: 620px) and (max-width: 968px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 968px) {
  .cardContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  /* width: 100%; */
  /* width: 409px; */
  height: 363px;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  cursor: pointer !important;
  transition: transform 0.3s ease;
}

.overlay {
  height: -webkit-fill-available;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  padding: 20px;
  text-align: center;
}

.title {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 10px;
}

.description {
  max-width: 236px;
  font-weight: 400;
  font-size: 18px;
}

@media (max-width: 768px) {
  .card {
    height: 300px;
  }

  .title {
    font-size: 24px;
  }

  .description {
    font-size: 16px;
  }

  .heading {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .card {
    height: 260px;
  }

  .title {
    font-size: 20px;
  }

  .description {
    font-size: 14px;
  }

  .heading {
    font-size: 26px;
    margin-bottom: 30px;
  }
}
