.container {
  /* max-width: 1000px; */
  padding: 20px 288px 20px 88px;
}

.backText {
  color: #000000;
  cursor: pointer !important;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.heading {
  font-size: 28px;
  margin-bottom: 21px;
}

.manageWrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.infoIcon {
  margin-right: 10px;
}
.infoIcon img {
  width: 18px;
  height: 18px;
  margin-top: 5px;
}

.description {
  font-size: 18px;
  color: #000000;
  line-height: 1.5;
  font-weight: 400;
}

.link {
  color: var(--primary-color);
  text-decoration: underline;
}

.note {
  font-size: 14px;
  color: #000000;
  margin-bottom: 64px;
  font-weight: 400;
  margin-left: 29px;
}
.note span {
  font-weight: 600;
  font-size: 14px;
}

.starter_note {
  font-size: 14px;
  color: #000000;
  margin-bottom: 64px;
  font-weight: 600;
  margin-left: 29px;
}

.pickYourCredit {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 35px;
  line-height: 100%;
  margin-bottom: 40px;
}

.pickYourCredit span {
  color: var(--primary-color);
}

/* <----- Card Css ----->  */

.cardList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
  /* max-width: 92%; */
  width: -webkit-fill-available;
  margin: auto;
}

.card {
  background: #fff;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  padding: 30px 27px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  /* max-width: 100%; */
  width: -webkit-fill-available;
  min-width: -moz-available;
  margin: auto;
}

/* .card:hover {
  transform: translateY(-5px);
} */

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #d9d9d9;
  gap: 8px;
}
.removeBorder {
  border: none;
}

.cardHeader h3 {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.creditTag {
  border: 0.81px solid #00afe3;
  background: #ffffff;
  color: #000000;
  padding: 2px 4px;
  border-radius: 0.81px;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 16.23px;
  /* line-height: 100%; */
  /* letter-spacing: 0%; */
  vertical-align: middle;
}

.responses {
  margin-top: 12px;
  color: var(--primary-color);
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 12.64px;
  text-align: center;
  vertical-align: middle;
}

.price {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  margin: 25px 0 20px 0;
}

.price small {
  display: block;
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 10px;
  text-align: center;
  color: #828282;
}

.creditpadding {
  padding: 0 16px;
}

.buttonWidth {
  max-width: 160px !important;
  padding: 6px !important;
}

.buyButton {
  width: 100%;
  max-width: 250px;
  background: var(--primary-color);
  /* margin: 0 22px; */
  color: #fff;
  padding: 10px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  margin: 12px 0;
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
}

.buyButton:hover {
  background: #008ecc;
}

.checkboxWrap {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  color: #444;
  justify-content: center;
}

.checkboxWrap input {
  width: 18px;
  height: 18px;
  cursor: pointer !important;
  margin: 3px 3px 3px 0px;
}

.parentBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
}

.banner {
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  background: linear-gradient(85.27deg, #00afe3 6.19%, #24cdff 46.18%);
  padding: 30px 20px;
  text-align: center;
  border-radius: 3px;
}

.bannertitle {
  color: white;
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 35px;
  margin-bottom: 12px;
}

.subtitle {
  color: #000000;
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  margin-bottom: 24px;
}

.bannerbutton {
  background-color: black;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  color: white;
  padding: 8px 15px;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.bannerbutton:hover {
  background-color: #333;
}

.diagonal_price {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  color: #828282;
  padding: 3px;
}

.diagonal_price::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #828282;
  transform: rotate(-15deg);
  transform-origin: center;
}

.excl_tax {
  font-family: Poppins;
  font-weight: 600;
  font-size: 15px;
  color: #828282;
}

/* .cardList {
  display: flex;
  flex-direction: column;
  gap: 20px;
} */

/* .card {
  border: 1px solid #d9d9d9;
  padding: 20px;
  background-color: #fff;
  position: relative;
} */

.titleBar {
  margin-top: 21px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.badge {
  position: absolute;

  top: -15px;
  background-color: var(--primary-color);
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  border: none;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.response {
  font-size: 12px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 3px 15px;
  white-space: nowrap;
  background-color: #ffffff;
}

.row {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.creditsBox {
  border: 1px solid #000;
  padding: 3px 15px;
  font-size: 12px;
  font-weight: 600;
}
.btnBox {
  width: 35%;
  display: flex;
  justify-content: space-between;
}

.priceInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 18px;
  font-weight: 600;
}

.perCredit {
  font-size: 18px;
  color: #bebebe;
  font-weight: 600;
}

.buttonWrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}
/* 
.buyButton {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 5px 56px;

  font-size: 20px;
  cursor: pointer !important;
} */

/* .checkboxWrap {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;
  margin-top: 22px;
} */

.checkboxWrap label {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  color: #000000;
}
.getHired {
  display: flex;
  gap: 0px;
  align-items: center;
  max-width: 670px;
}
.getHired img {
  z-index: 10;
}
.gethiredText {
  background-color: #e3f6fc;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  padding: 10px 34px;
  margin-top: -1px;
  margin-left: -2.8%;
}
.noPlanText {
  font-size: 18px;
}

.VisaCard {
  width: 70vw;
}
.card {
  position: relative;
}
.offerBoxTop {
  background-color: #ffff;

  display: flex;
  align-items: center;
  justify-content: start;
  position: absolute;
  top: -42px;
  /* background: var(--primary-color); */
  /* max-width: 30%; */
  color: #fff;
  font-weight: 600;
  font-size: 28px;
  /* text-align: center;
  padding: 8px 0;
  border-radius: 4px;
  margin: -50px -20px 10px -20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
}

.offerBoxTop span {
  display: block;
  background-image: url("../../../assets/Images/BoostImg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 256px;
  height: 80px;
  /* margin-top: -26px; */
  /* background-repeat: no-repeat;  */
  /* background-position: center;  */
}

.offerBoxTop div {
  padding: 4px;
  color: #000000;
}

.new_business_card {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 40px 0;
}

.new_business_card > div {
  max-width: 500px;
  padding: 16px;
  text-align: left;
  background: linear-gradient(90deg, #e3f6fc00, 20%, #e3f6fc);
}

.cardHeaderWrap,
.cardHeaderWraps {
  display: none;
}

/* ========== Responsive Breakpoints ========== */
/* Tablets (≤ 1024px) */

@media (max-width: 1024px) {
  .titleBar {
    flex-direction: column;
    align-items: flex-start;
  }
  .card {
    padding: 15px;
    /* width: 75%; */
  }
  .cardPadding {
    padding: 30px 15px !important;
  }
  .offerBoxTop div {
    font-size: 16px;
  }

  .offerBoxTop span {
    height: auto;
  }

  .offerBoxTop {
    top: -24px;
  }

  .buttonWrap {
    align-items: stretch;
    width: 100%;
  }

  .buyButton {
    width: 100%;
  }
  .cardHeader {
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
  }
}

/* Mobile (≤ 768px) */

@media (max-width: 768px) {
  .card {
    padding: 15px;

    /* width: 100%; */
  }
  .cardHeader {
    flex-wrap: wrap;
  }

  .container {
    padding: 24px;
  }

  .cardHeader {
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
  }

  /* .offerBoxTop {
    max-width: 60%;
    margin: -35px -20px 10px -20px;
  } */
  .offerBoxTop div {
    font-size: 16px;
  }

  .offerBoxTop span {
    font-size: 16px;
    width: 150px;
  }

  .creditsBox {
    padding: 5px 10px;
    text-align: center;
  }

  .buyButton {
    font-size: 18px;
    padding: 8px 16px;
    font-weight: 600;
  }

  .priceInfo {
    font-size: 20px;
    text-align: center;
  }

  .perCredit {
    font-size: 18px;
  }

  .response {
    font-size: 12px;
    font-weight: 600;
  }
  .gethiredText {
    background-color: #e3f6fc;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    padding: 1px 34px;

    margin-left: -4%;
  }
  .new_business_card > div {
    font-size: 14px;
    background: linear-gradient(
      90deg,
      rgba(227, 246, 252, 0) 12.55%,
      #e3f6fc 44.03%,
      #e3f6fc 100%
    );
  }

  .new_business_card > img {
    width: 100px;
  }
}

@media (max-width: 600px) {
  .offerBoxTop span {
    height: auto;
  }

  .new_business_card {
    padding: 20px 0;
    background: linear-gradient(
      90deg,
      rgba(227, 246, 252, 0) 12.55%,
      #e3f6fc 44.03%,
      #e3f6fc 100%
    );
  }
  .offerBoxTop b {
    padding: 4px;
    font-size: 16px;
    color: #000000;
    font-weight: 600 !important;
  }
  .offerBoxTop {
    top: -18px;
    flex-wrap: wrap !important;
  }
}

/* Extra small devices (≤ 480px) */
@media (max-width: 480px) {
  .container {
    padding: 20px 16px;
  }

  .offerBoxTop div {
    font-size: 11px;
  }

  .offerBoxTop span {
    font-size: 11px;
    width: 100px;
  }
  .offerBoxTop {
    top: -12px !important;
  }

  .offerBoxTop > span > div > img {
    width: 10px;
  }

  .cardHeader {
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
  }

  .offerBoxTop {
    max-width: 100%;
    top: -20px;
    flex-wrap: wrap !important;
    /* margin: -35px -20px 10px -20px; */
  }

  .excl_tax {
    font-family: Poppins;
    font-weight: 600;
    font-size: 11.32px;
    color: #828282;
  }

  .cardList {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .priceInfo {
    font-size: 20px;
    text-align: center;
    margin-top: 12px;
  }
  .buttonWrap {
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
  }
  .titleBar {
    display: flex;
    align-items: center;
  }
  .btnBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .buyButton {
    width: 100%;
  }

  .checkboxWrap {
    align-items: center;
  }
  .getHired {
    display: flex;
    gap: 0px;
    align-items: center;
    /* flex-direction: column; */
    max-width: 670px;
    margin-top: 25px;
  }
  .getHired img {
    width: 77px;
    height: 80px;
  }
  .gethiredText {
    background-color: #e3f6fc;
    font-size: 8px;
    font-weight: 400;
    color: #000000;
    padding: 3px 14px;
    margin-left: -3.4%;
  }
  .response {
    font-size: 12px;
    font-weight: 600;
    padding: 5px 10px;
  }

  .creditTag {
    font-size: 13px;
  }
  .creditsBox {
    font-size: 12px;
  }
}

@media screen and (max-width: 540px) {
  .VisaCard {
    width: -webkit-fill-available;
    /* max-width: 100vw; */
  }

  .removeBorder {
    display: none;
  }

  .cardHeaderWrap,
  .cardHeaderWraps {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .responses {
    margin: 12px 0 0 0;
    font-size: 11px;
  }

  .cardHeaderWraps {
    margin-top: 16px;
    flex-direction: column;
  }

  .pickYourCredit {
    line-height: 45px;
  }

  .note {
    margin-bottom: 20px;
  }

  .parentBanner {
    margin-top: 40px;
  }

  .toggle {
    margin-top: 16px !important;
  }

  .redeemText label {
    margin-top: 16px;
  }
}
@media screen and (max-width: 350px) {
  .gethiredText {
    background-color: #e3f6fc;
    font-size: 8px;
    font-weight: 400;
    color: #000000;
    padding: 3px 18px;
    margin-left: -3.8%;
  }
}

/* <----- end Card Css ---->  */
.bottomText {
  cursor: pointer !important;
  margin-top: 57px;
  margin-bottom: 17px;
}

.bottomText span {
  font-weight: 600;
  font-size: 24px;
  cursor: pointer !important;
  color: var(--primary-color);
}

.VisaCard {
  margin-top: 66px;
}

.redeemText {
  margin-top: 54px;
}

.redeemText label {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
}

.redeemText input {
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}
.redeemButton {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 6px 15px;

  font-size: 15px;
  cursor: pointer !important;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 2px;
}
.couponsText {
  margin-top: 19px;
  font-size: 12px;
  font-weight: 500;
  color: #828282;
}

.toggle {
  border: 1px solid #d9d9d9;
  padding: 9px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  max-width: 300px;
}
.toggle span {
  font-size: 14px;
  color: #000000;
  font-weight: 600;
}
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: #ffffff;
  transition: 0.3s;
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: #00b6f0;
}

.switch input:checked + .slider:before {
  transform: translateX(16px);
}
@media screen and (max-width: 426px) {
  .bottomText {
    margin-top: 30px;
    margin-bottom: 17px;
  }
  .checkboxWrap {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 13px;
    margin-top: 8px;
  }
  .redeemText {
    margin-top: 16px;
  }

  .redeemText input {
    width: 55vw;
  }
  .VisaCard {
    margin-top: 35px;
  }

  .couponsText {
    margin-top: 8px;
  }
}
