.container {
  margin-top: 30px;
  background-color: #fff;
  margin-bottom: 60px;
}

/* .container h2 {
    font-size: 16px;
    font-weight:500;
    margin-bottom: 16px;
    color: #000000;
    cursor: pointer !important;
  } */

.creditTransactionLog {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  color: #000000;
  margin-bottom: 24px;
  cursor: default;
}

.scrollTable {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
  overflow-x: scroll;
}

.table th {
  background-color: var(--primary-color);
  color: white;
  text-align: left;
  padding: 12px;
  font-weight: 400;
  font-size: 16px;
}

.table td {
  padding: 12px;
  font-size: 16px;
  border-bottom: 1px solid #d9d9d9;
  color: #000000;
  font-weight: 400;
}

.table tbody {
  border: 1px solid #d9d9d9;
}

.table tr:last-child td {
  border-bottom: none;
}

.bold {
  font-weight: 600;
}

.negative {
  color: #000;
  font-weight: 600;
}

/* Responsive */
@media (max-width: 768px) {
  .table th,
  .table td {
    padding: 10px;
    font-size: 14px;
  }

  .container h2 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
  }
}
@media (max-width: 480px) {
  .table th,
  .table td {
    padding: 10px;
    font-size: 14px;
  }

  .container h2 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px !important;
  }

  .scrollTable::-webkit-scrollbar {
    height: 4px;
    background-color: #f1f1f1;
  }

  .scrollTable::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #000000;
  }

  .scrollTable::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
}

@media (max-width: 480px) {
  .container {
    margin-top: 16px;
    margin-bottom: 8px;
  }
}
