.accordionItem {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
  cursor: pointer !important;
  background-color: #fff;
}

.title {
  font-weight: 600;
  font-size: 20px;
  vertical-align: middle;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 28px;
}

.icon {
  font-size: 12px;
  display: flex;
  align-items: center;
}
.arrow {
  transition: transform 0.3s ease;
}

.up {
  transform: rotate(0deg);
}

.down {
  transform: rotate(180deg);
}

@media screen and (max-width:480px) {
  .header {
  
  padding: 16px 2px;
  
}
.title {
  font-weight: 600;
  font-size: 16px;
  vertical-align: middle;
}
}
/* .content {
  font-size: 14px;
} */
