.cardParent {
  background: #fff;
  box-shadow: 0px 0px 6px 0px #0000001a;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 12px;
}

.card {
  width: -webkit-fill-available;
  background: #fff;
  /* box-shadow: 0px 0px 6px 0px #0000001a; */
  margin: 21.08px auto;
  padding: 18.25px 25.26px 2.25px 34px;
  display: grid;
  grid-template-areas: "info job actions";
  grid-template-columns: 1fr 1fr 0.3fr;
  gap: 40px;
  overflow: hidden;
  max-width: 100%;
}

.infoContainer,
.jobContainer,
.actionsContainer {
  min-width: 0; /* Prevents content from forcing column to expand */
  overflow-wrap: break-word;
}

.infoContainer {
  grid-area: info;
  display: flex;
  flex-direction: column;
  gap: 72px;
  min-width: 0; /* Prevents stretching */
  overflow: hidden;
  word-break: break-word; /* Optional, breaks long text */
}

.jobDetails {
  grid-area: job;
  display: flex;
  flex-direction: column;
  gap: 23px;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  padding: 0 40px;

  /* cursor: pointer !important; */
  /* padding: 0 73px 0 44px; */
}
.highlightText {
  display: none;
}
.leadActions {
  grid-area: actions;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 24px;
  margin-top: 0px;
  /* margin-left: -24px; */
}

.userDetails {
  display: flex;
  gap: 11px;
  /* cursor: pointer !important; */
  align-items: center;
}

.userInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 96px; */
}

.avatar {
  background: #f9b7b7;
  color: #ffffff;
  font-size: 40px;
  font-weight: 600;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.details h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  vertical-align: middle;
}

.details p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  vertical-align: middle;
}

.contactContainer {
  display: flex;
  align-items: baseline;
  gap: 15.43px;
}

.contactItem {
  display: flex;
  align-items: baseline;
  gap: 5px;
  color: black;
  font-weight: 400;
  font-size: 19px;
  vertical-align: middle;
  /* cursor: pointer !important; */
}

.contactItemNumber {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* .contactItem a {
  text-decoration: none;
  color: black;
  list-style: none; 
} */

.category {
  background: var(--primary-color);
  color: white;
  padding: 8px 10px;
  border-radius: 100px;
  font-weight: 600;
  font-size: 16px;
  vertical-align: middle;
  /* text-wrap: nowrap; */
  text-align: center;
}
.saveBtnBoxs {
  display: none;
}

.saveBtnBox img {
  margin-right: 4px;
}
.saveBtn {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 7px 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer !important;
  display: flex;
  align-items: center;
  gap: 4px;
}
.saveBtn:hover {
  background-color: #0096c4;
}

.badges {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.verified,
.additional,
.frequent {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  font-size: 10px;
  padding: 5px 10px;
  border-radius: 100px;
  color: white;
}

.verified {
  background: #edb1d5;
}

.additional {
  background: #aac9d2;
}

.frequent {
  background: #98e6ff;
}

.jobInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #e3f6fc;
  padding: 10px 16px;
}

.jobInfo p {
  font-weight: 400;
  font-size: 12px;
  vertical-align: middle;
  line-height: 25px;
}

.jobInfo {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 100%;
}

.jobInfo p {
  word-break: break-word;
  white-space: normal;
}

.purchaseButton {
  background: #57e202;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer !important;
  font-size: 20px;
  font-weight: 600;
}

.purchaseButton:hover {
  background-color: #4ecf00;
}
.desktopOnlyBreak {
  display: inline;
}

.credits {
  display: block;
  background: #fce5e3;
  color: black;
  padding: 4px 10px;
  font-weight: 400;
  font-size: 16.91px;
  width: fit-content;
  text-align: center;
}

.responseStatus {
  font-weight: 400;
  font-size: 12px;
  vertical-align: middle;
}

.responseStatus img {
  margin-right: 5px;
}

.viewMoreBtnWrapper {
  /* padding-top: 35.66px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
}

.viewMoreBtnWrapper button {
  border-radius: 186.83px;
  gap: 5px;
  cursor: pointer !important;
  background-color: var(--primary-color);
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  border: none;
  padding: 11px 18.68px;
  margin-bottom: 12px;
}
.viewDetailsBtn:hover {
  background-color: #0096c4;
}
.viewMoreBtnWrapper button:hover {
  background-color: #0096c4;
}
.mainText div {
  color: #ff9933;
  font-size: 22px;
  font-weight: 900;
  margin-top: -8px;
}
.mainText span {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
}
.viewDetailsBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 17px;
  background-color: var(--primary-color);
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  display: flex;
  gap: 4px;
  margin-left: 60px;
  /* text-decoration: underline; */
  cursor: pointer !important;
}
.viewDetailsBtnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
  margin-right: 200px;
  margin-bottom: 20px;
}

/* Tablet */
@media (max-width: 1200px) {
  .card {
    gap: 20px;
  }

  .jobDetails {
    padding: 0 20px;
  }

  .userInfo {
    gap: 16px;
  }
}

@media (max-width: 1024px) {
  .card {
    grid-template-areas:
      "info"
      "job"
      "actions";
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 20px;
  }
  .viewDetailsBtnWrapper {
    margin-right: 0px;
  }
  .infoContainer {
    gap: 30px;
  }

  .jobDetails {
    border-left: none;
    border-right: none;
    padding: 0;
    width: 100%;
  }

  .leadActions {
    margin-left: 0;
    width: 100%;
    align-items: flex-start;
    gap: 20px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .card {
    padding: 16px;
  }
  .viewDetailsBtnWrapper {
    margin-right: 0px;
  }
  .category {
    font-size: 12px;
    padding: 4px 8px;
  }

  .avatar {
    width: 50px;
    height: 50px;
    font-size: 30px;
  }

  .details h3 {
    font-size: 18px;
  }

  .contactItem {
    align-items: center;
    font-size: 14px;
  }

  .jobInfo p {
    font-size: 11px;
  }

  .credits {
    font-size: 16px;
  }

  .saveBtnBoxs {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .details h3 {
    font-size: 16px;
    word-break: auto-phrase;
  }
  .card {
    padding: 4px 16px;
    margin: 18px auto;
  }
  .saveBtnBox {
    display: none;
  }
  .category {
    text-wrap: wrap;
    text-align: center;
  }
  .mainText {
    font-weight: 500;
    font-size: 14px;
  }
  .mainText div {
    margin-bottom: 0px;
    margin-top: 8px;
  }
  .desktopOnlyBreak {
    display: none;
  }
  .badges {
    margin-top: 0px;
  }
  .saveBtnBoxs {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
  }

  .details p {
    font-size: 12px;
  }
  .jobDetails {
    gap: 20px;
  }
  .highlightText {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    display: block;
  }
  .userInfo {
    /* flex-direction: column;
    align-items: flex-start;
    gap: 24px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .contactContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .contactItem {
    font-size: 12px;
  }

  .infoContainer {
    gap: 24px;
    margin-top: 0px;
  }
  .mainText {
    text-align: center;
  }
  .viewDetailsBtn {
    padding: 7px 17px;
    background-color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 8px; */
    /* text-decoration: underline; */
    cursor: pointer !important;
    margin-left: 0px;
  }

  .card {
    gap: 20px;
  }
  .jobDetails {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
  }

  .jobInfo {
    margin-bottom: 20px;
  }
  .leadActions {
    margin-top: 0px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .viewDetailsBtnWrapper {
    margin-right: 0px;
  }
  .credits {
    font-size: 12px;
    padding: 0px 7px;
  }
}

.arrowIcon {
  transition: transform 0.3s ease;
  margin-left: 5px;
}

.rotated {
  transform: rotate(180deg);
}
@media screen and (max-width: 370px) {
  .details h3 {
    font-size: 12px;
    word-break: auto-phrase;
  }

  .userInfo {
    flex-wrap: wrap;
  }
  .desktopOnlyBreak {
    display: inline;
  }
}
