.modalOverlay {
  position: fixed;
  top: 30px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  overflow: scroll;
}

.modalContainer {
  background: #ffffff;
  padding: 40px 45px;
  max-width: 757px;
  width: 100%;
  position: relative;
  overflow: auto;
}

.closeButton {
  position: absolute;
  top: -2px;
  right: 2px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer !important;
  color: #b7b7b7;
}

.title {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 8px;
}

.subtitle {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin-bottom: 38px;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.option {
  display: flex;
  align-items: center;
  background-color: #e3f6fc;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer !important;
  transition: background-color 0.2s ease;
}

.option:hover {
  background-color: #d0effb;
}

.icon {
  width: 27px;
  height: 27px;
  margin-right: 13px;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.optionTitle {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.optionDescription {
  font-size: 14px;
  font-weight: 400;
  margin-top: 4px;
}

@media (max-width: 768px) {
  .modalContainer {
    padding: 40px 30px;
    max-width: 90%;
  }

  .title {
    font-size: 22px;
  }

  .subtitle {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .option {
    padding: 8px;
  }

  .icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }

  .optionTitle {
    font-size: 16px;
  }

  .optionDescription {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .modalOverlay {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center !important;
    justify-content: center;
    z-index: 9999;
    overflow: auto;
  }
  .modalContainer {
    padding: 5px 20px;
    margin: 20px 10px;
    overflow: auto;
    /* height: fit-content; */
  }

  .title {
    font-size: 20px;
  }

  .subtitle {
    font-size: 14px;
    margin-bottom: 25px;
  }

  .option {
    /* flex-direction: column; */
    align-items: flex-start;
    gap: 8px;
  }

  .icon {
    margin-right: 0;
  }

  .optionTitle {
    font-size: 16px;
  }

  .optionDescription {
    font-size: 13px;
  }
}
