.parentContainer {
  padding: 40px 20px;
  background-color: #f9f9fa;
  /* min-height: 100vh; */
}

.container {
  max-width: 500px;
  margin: 40px auto;
  padding: 0 16px;
}

.heading {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 8px;
}

.subheading {
  font-size: 16px;
  color: #666;
  text-align: center;
  margin-bottom: 24px;
}

.card {
  background: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer !important;
  font-size: 15px;
  font-weight: 500;
  color: #333;
}

.radioLabel input[type="radio"] {
  accent-color: #2563eb;
  width: 18px;
  height: 18px;
}

.radioText {
  flex: 1;
}

.label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  color: #555;
}

.reasonContainer {
  margin-bottom: 24px;
}

.textarea {
  width: -webkit-fill-available;
  min-width: -moz-available;
  height: 100px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  resize: vertical;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.backButton {
  background: #000000;
  color: #ffffff;
  padding: 8px 29px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer !important;
}

.backButton:hover {
  background: #000000cf;
}

.saveButton {
  background: var(--primary-color);
  color: #ffffff;
  padding: 8px 29px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer !important;
}

.saveButton:hover {
  background: #0096c4;
}
