.container {
  text-align: center;
  padding: 40px;
  max-width: 1200px;
  margin: auto;
  width: -webkit-fill-available;
}

.heading {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 14px;
}

.heading span {
  font-weight: 700;
  color: var(--primary-color);
}

.subHeading {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 32px;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.card {
  display: flex;
  align-items: center;
  background: white;
  border: 2px solid #f9f9fa;
  box-shadow: 0px 0px 10.8px 0px #0000001a;
  border-radius: 10px;
  padding: 20px;
  width: -webkit-fill-available;
  max-width: 1026px;
}

.image {
  width: 262px;
  height: 150px;
  object-fit: cover;
  margin-right: 84px;
}

.content {
  text-align: left;
}

.description {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-bottom: 10px;
  position: relative;
  padding-bottom: 10px;
}

.description::after {
  content: "";
  display: block;
  width: 295px;
  height: 1.15px;
  background-color: var(--primary-color);
  margin-top: 22.6px;
}

.name {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--primary-color);
}

.company {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0%;
  vertical-align: middle;
}

@media (max-width: 1020px) {
  .image {
    margin-right: 40px !important;
  }
   .container {

  padding: 0px;
  
}
}

@media (max-width: 767px) {
  .image {
    margin-right: 26px !important;
    width: 180px;
  }
  .heading {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 14px;
}
}

@media (max-width: 680px) {
  .container {
    padding: 16px;
  }

  .content {
    width: -webkit-fill-available;
  }

  .card {
    flex-direction: column;
    gap: 26px;
  }
  .image {
    width: 100%;
    height: auto;
    margin-right: 0 !important;
  }
}
@media screen and (max-width:480px) {
  
  .description {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-bottom: 10px;
  position: relative;
  padding-bottom: 0px;
}
  .description::after {
    content: "";
    display: block;
    width: 235px;
    height: 1.15px;
    background-color: var(--primary-color);
    margin-top: 14.6px;
  }
  .subHeading {
    line-height: 24px;
  }

}
@media screen and (max-width: 360px) {
  
  .description {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-bottom: 10px;
  position: relative;
  padding-bottom: 0px;
}
  .description::after {
    content: "";
    display: block;
    width: 235px;
    height: 1.15px;
    background-color: var(--primary-color);
    margin-top: 14.6px;
  }

  
}