.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 100px;
}

.modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: white;
  padding: 37px 50px;
  text-align: center;
  box-shadow: 0px 0px 10px 0px #0000000f;
  width: 100%;
  max-width: 556px;
}

.heading {
  /* font-family: Inter; */
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}

.description {
  /* font-family: Inter; */
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-bottom: 56px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.backButton {
  background: black;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  color: white;
  padding: 8px 20.5px;
  border: none;
  cursor: pointer !important;
  border-radius: 3px;
  font-weight: 500;
  font-size: 20px;
  vertical-align: middle;
}

.continueButton {
  background: var(--primary-color);
  color: white;
  padding: 8px 9px;
  border: none;
  cursor: pointer !important;
  border-radius: 3px;
  font-weight: 500;
  font-size: 20px;
  vertical-align: middle;
}
