.container {
    max-width: 1030px;
    padding: 21px 88px;
  }
  
  .backText {
    color: #000000;
    cursor: pointer !important;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .heading {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 21px;
  }
  
  .manageWrapper {
    display: flex;
    align-items: start;
    gap: 7px;
  }
  
  .description {
    font-size: 18px;
    color: #000000;
  width: 960px;
    margin-bottom: 36px;
  }
  
  .infoIcon {
    align-items: start;
    color: var(--primary-color);
    margin-top: 5px;
  }
  .description span {
    margin-top: 4px;
  }
  .infoIcon img {
    width: 18px;
    height: 18px;
  }
  
  .link {
    color: var(--primary-color);
    text-decoration: underline;
  }
  
  .card {
    max-width: 933px;
    border: 1px solid #d9d9d9;
    padding: 24px 21px 40px 21px;
    margin-bottom: 30px;
  }
  
  .subHeading {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  
  .note {
    color: #828282;
    font-size: 14px;
    margin-bottom: 15px;
    max-width: 647px;
  }
  
  .label {
    margin-top: 16px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #000000;
  }
   .labels {
    margin-top: 6px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #000000;
  }
/*   
  .input {
    width: 70%;
    padding: 10px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #828282;
  } */
  .input {
    width: 90%;
    padding: 8px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .row {
    display: flex;
   
    margin-top: 0px;
  }
  
  .column {
    flex: 1;
    max-width: 433px;
  }
  
  .passwordSection {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  .button {
    margin-top: 10px;
    padding: 8px 22px;
    font-weight: 500;
    font-size: 18px;
    vertical-align: middle;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer !important;
  }
  
  .button:hover {
    background-color: #e6f7ff;
  }
  .row {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }
  
  .tableSection {
    margin-top: 32px;
    
  }
  
  .invoiceTable {
    width: 95%;
    border-collapse: collapse;
  }
  
  .invoiceTable th {
    background-color: var(--primary-color);
    color: #fff;
    padding: 12px 8px;
    font-size: 14px;
    text-align: left;
    border: 1px solid #D9D9D9;
  }
  
  .invoiceTable td {
    padding: 12px 8px;
    border-bottom: 1px solid #D9D9D9;
  }
  
  .paidDot {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: green;
    border-radius: 50%;
  }
  
  .downloadIcon {
    width: 28px;
    height: 28px;
    cursor: pointer !important;
  }
  .saveButtonBox {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    margin-right: 70px;
  }
  .saveButton {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 8px 22px;
    font-size: 18px;
  }
  .vatRegisterBox {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 14px;
  }
  .vatRegisterBox input{
    margin-left: 2px;
  }

  @media screen and (max-width:1024px) {
   .row {
    display: flex;
    flex-direction: column;
    gap: 0px;
    /* flex-wrap: nowrap; */
   } 
   .column {
    flex: 1;
    max-width: 100%;
  }
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 21px 32px;
    }
  
    .heading {
      font-size: 28px;
    }
  
    .description {
      font-size: 16px;
      margin-bottom: 28px;
    }
  
    .card {
      padding: 20px 18px 32px 18px;
    }
  
    .input {
      width: -webkit-fill-available;
    }
  
    .button {
      font-size: 16px;
      padding: 10px;
    }
  
    .manageWrapper {
      gap: 4px;
    }
  
    .note {
      max-width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      padding: 16px;
    }
    .tableSection {
      overflow-x: scroll;
    }
  
    .backText {
      font-size: 13px;
      margin-bottom: 24px;
    }
  
    .heading {
      font-size: 24px;
      margin-bottom: 16px;
    }
  
    .description {
      font-size: 14px;
      margin-bottom: 24px;
    }
    .row {
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
  }
  
    .card {
      padding: 16px;
      margin-bottom: 20px;
    }
  
    .subHeading {
      font-size: 14px;
    }
  
    .note {
      font-size: 13px;
    }
  
    .label {
      font-size: 14px;
      margin-top: 8px;
    }
  
    .input {
      font-size: 13px;
      padding: 8px;
    }
  
    .button {
      font-size: 15px;
      padding: 9px;
    }
    .infoIcon{
        margin-top: 1px;
    }
  
    .infoIcon img {
      width: 16px;
      height: 16px;
    }
    .saveButtonBox {
        display: flex;
        justify-content: end;
        margin-top: 20px;
        margin-right: 0px;
      }
      .saveButton {
        background-color: var(--primary-color);
        color: white;
        border: none;
        padding: 5px 12px;
      }
      .tableSection{
        overflow-x: scroll;
      }
       .tableSection::-webkit-scrollbar {
    height: 4px;
    background-color: #f1f1f1;
  }

  .tableSection::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #000000;
  }

  .tableSection::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
   .invoiceTable td {
    padding: 12px 8px;
    border-bottom: 1px solid #D9D9D9;
    
  }
  }
  