.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 88px;
  gap: 55px;
}

@media (max-width: 968px) {
  .mainContainer {
    padding: 30px 55px;
    gap: 30px;
  }
}
@media (max-width: 620px) {
  .mainContainer {
    padding: 30px 40px;
    gap: 30px;
  }
}
@media (max-width: 480px) {
  .mainContainer {
    padding: 30px 20px;
    gap: 20px;
  }
}
