.parentContainer {
  background: #f9f9fa;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 100px 0;
}

.heading {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 0.75rem;
}

.subheading {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 26px;
}

.card {
  padding: 2.5rem;
  width: 100%;
  max-width: 725px;
  background: white;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.formHeading {
  /* font-family: Inter; */
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0%;
}

.radioLabel {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 0.75rem;
  cursor: pointer !important;
  color: #6c7191;
}

.radioInput {
  display: none;
}

.selected {
  color: black;
}

.inputGroup {
  display: flex;
  gap: 20px;
  margin-top: 1rem;
}

.dropdown,
.input {
  padding: 12px;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  font-size: 14px;
  color: #828282;
}

.dropdown {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='gray'%3E%3Cpath fill-rule='evenodd' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' clip-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px;
}

.fromText {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  margin-bottom: 10px;
}

.infoText {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0%;
  color: #000000;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.infoText img {
  width: 13.21px;
  height: 13.21px;
}
.nationwideFooter {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 18.24px;
  gap: 48px;
}
.switchWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 18px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 2.5px;
  background-color: #ffffff;
  transition: 0.4s;
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: var(--primary-color);
}

.switch input:checked + .slider::before {
  transform: translateX(16px);
}

.switchLabel {
  font-size: 14px;
  font-weight: 600;
}

.nextButton {
  background-color: #000000;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  color: white;
  border: none;
  padding: 5px 23px;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer !important;
  margin-top: 15px;
}

.nextButton:hover {
  background-color: #000000cf;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer !important;
  color: #000000;
  font-weight: 600;
}
.checkbox {
  width: 18px;
  height: 18px;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 0px 2px 0.5px #0000001a;
  margin-left: -1px;
}

/* .checkboxInput {
  display: none;
}

.checkboxCustom {
  width: 24px;
  height: 24px;
  border: 1px solid #d9d9d9;
  display: inline-block;
  position: relative;
}

.checkboxInput:checked + .checkboxCustom::after {
 content: "✔"; 
  color: white;
  position: absolute;
  top: 2px;
  left: 6px;
  width: 24px;
  height: 24px;
}

.checkboxInput:checked + .checkboxCustom {
  background: var(--primary-color);
  border-color: var(--primary-color);
} */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.errorText {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.errorBorder {
  border: 2px solid red !important;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
  position: relative;
}

.inputWrapper img {
  position: absolute;
  top: 47px;
  left: 10px;
  width: 11.59px;
  height: 16.56;
}
.input {
  padding-left: 28px;
}

@media (max-width: 1024px) {
  .container {
    padding: 80px 20px;
  }

  .card {
    width: 85%;
    padding: 2rem;
  }

  .inputGroup {
    gap: 15px;
  }

  .nextButton {
    padding: 8px 20px;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 60px 20px;
  }

  .heading {
    font-size: 22px;
  }

  .subheading {
    font-size: 15px;
  }

  .card {
    padding: 1.8rem;
  }

  .inputGroup {
    flex-direction: column;
    gap: 12px;
  }

  .nextButton {
    width: 100%;
    padding: 10px;
  }

  .footer {
    flex-direction: column;
    text-align: center;
    gap: 8px;
  }
}

@media (max-width: 480px) {
  .formHeading {
    font-size: 16px;
  }
  /* .checkboxCustom{
  width: 18px;
  height: 18px;

}
.checkboxInput:checked + .checkboxCustom::after {
  content: "✔";
  color: white;
  position: absolute;
  top: -1px;
  left: 3px;
} */
  .switchWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
  }
  .infoText {
    font-size: 10px;
  }

  .container {
    padding: 40px 15px;
  }

  .heading {
    font-size: 20px;
  }

  .subheading {
    font-size: 14px;
  }

  .card {
    padding: 1.5rem;
  }

  .inputGroup {
    flex-direction: column;
    gap: 10px;
  }

  .nextButton {
    width: 100%;
    padding: 10px;
  }
  .nextButton {
    font-weight: 700;
  }

  .footer {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
  .switchLabel {
    font-size: 12px;
    font-weight: 600;
  }
  .switchWrapper {
    margin-left: 4px;
  }
  .nationwideFooter {
    gap: 12px;
  }
  .nextButton {
    background-color: #000000;
    box-shadow: 0px 0px 2px 0.5px #0000001a;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer !important;
    margin-top: 15px;
    width: 84px;
  }
}
@media (max-width: 380px) {
  .switchWrapper {
    margin-left: 0px;
  }
  /* .checkboxCustom{
  width: 16px;
  height: 16px;

}
.checkboxInput:checked + .checkboxCustom::after {
  content: "✔";
  color: white;
  position: absolute;
  top: -2px;
  left: 3px;
} */
  .nationwideFooter {
    gap: 18px;
    flex-direction: column;
  }
  .infoText {
    margin-top: 0px;
    margin-left: -52px;
  }
  .nextButton {
    font-weight: 500;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 18px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.4s;
  }

  .slider::before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 2.5px;
    background-color: #ffffff;
    transition: 0.4s;
    border-radius: 50%;
  }

  .switch input:checked + .slider {
    background-color: var(--primary-color);
  }

  .switch input:checked + .slider::before {
    transform: translateX(16px);
  }
}
@media screen and (max-width: 320px) {
  .infoText {
    margin-top: 0px;
    margin-left: -6px;
  }
}
