.container {
  text-align: center;
  padding: 48px;
  background-color: #f9fafb;
}

.heading {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 18px;
  color: #000;
}

.subheading {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
  margin-bottom: 38px;
}

.cardWrapper {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  width: 250px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  cursor: pointer !important;
  transition: transform 0.2s;
}

.iconWrapper {
  background-color: #e6f6fd;
  border-radius: 50%;
  width: 97px;
  height: 97px;
  margin: 0 auto 16px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}

@media (max-width: 768px) {
  .container {
    padding: 32px 16px;
  }

  .cardWrapper {
    gap: 24px;
  }

  .card {
    padding: 20px;
  }

  .label {
    font-size: 16px;
  }

  .iconWrapper {
    width: 80px;
    height: 80px;
  }

  .heading {
    font-size: 22px;
  }

  .subheading {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 24px 12px;
  }

  .cardWrapper {
    flex-direction: column;
    align-items: center;
  }

  .card {
    max-width: 300px;
  }

  .label {
    font-size: 15px;
  }

  .iconWrapper {
    width: 70px;
    height: 70px;
  }

  .heading {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .subheading {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .mobileLineBreak {
    display: none;
  }
}
