.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index:9999;
}

.modal {
  background: white;
  width: 50%;
  max-width: 500px;
  border-radius: 8px;
  padding: 20px 10px;
  position: relative;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

.closeBtn {
  position: absolute;
  top: 5px;
  right: 10px;
  background: none;
  font-size: 24px;
  border: none;
  cursor: pointer !important;
}

.title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  
  /* color: var(--primary-color); */
}


.description {
  text-align: center;
  font-size: 16px;
  margin-bottom: 36px;
  font-weight: 400;
  color: #000000;
  margin-top: 6px;
}

.actions {
  display: flex;
  flex-direction: column;
  /* gap: 16px; */
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.actionItem {
  display: flex;
 
  align-items: center;

  border-radius: 6px;
  padding: 10px 15px;
  gap: 110px;
}

.actionText p {
  margin: 4px 0 0 0;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
}

.actionBtn {
  background-color: var(--primary-color);
  color: white;
  padding: 6px 12px;
width: 170px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer !important;
  transition: background 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
}

.actionBtn:hover {
  background-color: #007bbf;
}

.skipLink {
  text-align: center;
  font-size: 12px;
  color: #AEAEAE;
  margin: 20px 14px;
  cursor: pointer !important;
  font-weight: 600;
  text-decoration: underline;
}
.excellentText {
  color: var(--primary-color);
}

.footer {
  /* display: flex; */
  /* justify-content: space-between; */
  /* gap: 15px;
  align-items: center;
  border-top: 1px solid #eee;
  padding: 16px;
  margin-top: 16px;
  flex-wrap: wrap; */
  background-color: #E3F6FC;
}

/* .creditsBox {
  background-color: #E3F6FC;
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 12px;
  border: 1px solid #000000;
  display: flex;
  align-items: center;
  gap: 4px;
}

.guarantee {
  font-size: 10px;
  text-align: start;
  color: #000000;

  
}
.textcontent {
  margin-left: 6px;
}
.secondBox {
  display: flex;
  align-items: center;
} */
 .creditsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6f6fa; /* light blue bg */
  padding: 16px;
  border-radius: 8px;
  gap: 18px;
}

.creditsBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
 
   background-color: #E3F6FC;
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 12px;
  border: 1px solid #000000;
  
}



.midLine {
  width: 2px;
  height: 40px;
  background-color: var(--primary-color);
  margin: 0 16px;
}

.guarantee img {
  max-height: 64px;
  object-fit: contain;
  /* margin-top: 12px; */
}


@media screen and (max-width:480px) {
  .modal {
     width: 90%;
    border-radius: 8px;
    padding: 20px 16px;
    position: relative;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    margin: 10px;
    max-height: 90vh; /* Limit height */
    overflow-y: auto;
}
.closeBtn {
  position: absolute;
  top: 0px;
  right: 5px;
  background: none;
  font-size: 24px;
  border: none;
  cursor: pointer !important;
}
  .actionItem {
  display: flex;
 
  align-items: start;

  border-radius: 6px;
  padding: 10px 15px;
  gap: 20px;
  flex-direction: column;
}
  .creditsWrapper {
    /* flex-direction: column; */
    /* gap: 12px; */
    text-align: center;
    padding: 10px;
   
    
  }
.creditsBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 12px;
   background-color: #E3F6FC;
  padding: 6px 6px;
  border-radius: 4px;
  border: 1px solid #000000;
  
}

.midLine {
  width: 2px;
  height: 40px;
  background-color: var(--primary-color);
  margin: 0 4px;
}
  /* .midLine {
    display: none;
  } */
  .title{
    font-size: 18px;
  }
  .guarantee img {
    width: 62px;
    height: 55px;
  }
}