.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal {
  background-color: #ffffff;
  padding: 24px 32px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 460px;
  position: relative;
  text-align: center;
}

.closeButton {
  position: absolute;
  top: 12px;
  right: 14px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer !important;
}

.message {
  font-size: 18px;
  color: #333;
  margin-bottom: 24px;
  font-weight: 500;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.cancelBtn {
  padding: 10px 69px;
  border: 1px solid #ccc;
  background-color: #d3d3d3;
  color: white;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer !important;
  transition: 0.2s ease;
}

.cancelBtn:hover {
  background-color: #f2f2f2;
}

.continueBtn {
  padding: 10px 64px;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer !important;
  transition: 0.2s ease;
}

.continueBtn:hover {
  background-color: var(--primary-color);
}

.continueBtn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
