/* .container {
  padding: 42px 0px;
  background-color: #f9f9fa;
  text-align: center;
  width: 100%;
}

.heading {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  margin-bottom: 32px;
}

.columns {
  display: flex;
  justify-content: center;
  gap: 22px;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  width: 385px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #202124;
  cursor: pointer !important;
  border-bottom: 1px solid #b7dce8;
  height: 80px;
  transition: color 0.2s;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  flex-wrap: wrap;
}

@media (max-width: 1374px) {
  .column {
    width: 350px;
  }
}

@media (max-width: 1269px) {
  .column {
    width: 300px;
  }
}

@media (max-width: 1119px) {
  .column {
    width: 250px;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 28px;
  }

  .column {
    width: 100%;
    max-width: 90%;
  }

  .item {
    font-size: 18px;
    /* height: 70px; 
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 24px;
    margin-bottom: 8px;
  }
.container{
  padding-bottom: 30px;
}
  .column {
    width: 100%;
    max-width: 100%;
    
  }
  .columns {
display: flex;
    gap: 8px;
  }

  .item {
    font-size: 16px;
    /* height: 60px; 
    padding: -1px 10px;
    text-align: center;
    margin: 0px 8px;
  }
  .column .item:last-child {
  border-bottom: none;
}
} */


.container {
  padding: 42px 0px;
 background-color: #f9f9fa;
  text-align: center;
  width: 100%;
}

.heading {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  margin-bottom: 32px;
}

.columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0px 16px;
  padding: 0 16px;
  max-width: 1200px;
  margin: 0 auto;
}

.item {
  /* background-color: white; */
  padding: 24px;
  border-bottom: 1px solid #b7dce8;
  font-size: 20px;
  color: #202124;
  text-align: center;
  cursor: pointer !important;
  transition: color 0.2s;
  /* border-radius: 8px; */
}

.item:hover {
  color: #007bff;
}

.item p {
  margin: 0;
  padding: 0;
}

/* Responsive text size */
@media (max-width: 768px) {
  .heading {
    font-size: 28px;
  }

  .item {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 24px;
    margin-bottom: 0px;
  }

  .item {
    font-size: 16px;
  }
  .columns {
    gap: 0px;
  }
}
