.container {
  text-align: center;
  display: flex;
  flex: 1 1 calc(33.33% - 30px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 30px 7% 48px 5%;
}

.cardbButton {
  background-color: var(--primary-color);
  color: white;
  font-size: 17px;
  font-weight: 700;
  padding: 10px 0px;
  border: none;
  border-radius: 4.5px;
  cursor: pointer !important;
  width: 100%;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.cardbButton:hover {
  background-color: #0096c4;
}

.title {
  font-size: var(--text-size-35);
  font-weight: 400;
}

.highlight {
  color: var(--primary-color);
  font-weight: 600;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7.71px;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
  gap: 7.71px;
  width: 100%;
  height: 100%;
}

.card {
  position: relative;
  overflow: hidden;
  flex: 1 1 calc(33.33% - 20px);
  text-align: center;
  width: 100%;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  padding: 10px 10px 42px 10px;
}
.card:hover {
  background-color: #f9f9fa;
}

.image {
  object-fit: cover;
  width: 100%;
}

.availableOnline {
  position: absolute;
  margin: 9px 0 0 8px;
  width: fit-content;
  padding: 7px 21px;
  font-size: 12.72px;
  border-radius: 79.3px;
  color: #fff;
  background-color: var(--primary-color);
}

@media screen and (max-width: 880px) {
  .title {
    font-size: 30px;
  }

  .availableOnline {
    font-size: 11.72px;
    padding: 5px 12px;
  }

  .cardbButton {
    font-size: 15px;
    padding: 8px 0px;
  }

  .container {
    padding: 40px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 520px) {
  .container {
    padding: 26px 20px;
  }

.card {
  position: relative;
  overflow: hidden;
  flex: 1 1 calc(33.33% - 20px);
  text-align: center;
  width: 100%;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  padding: 10px 10px 22px 10px;
}
  .image {
    height: 230px;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .title {
    font-size: 22px;
  }

  .cardbButton {
    font-size: 14px;
  }
}
