.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background: var(--primary-color);
  padding: 30px 5%;
}

.heading {
  font-size: var(--text-size-35);
  font-weight: 400;
  color: #fff;
  margin: 0;
}

.highlight {
  color: #000;
  font-weight: 700;
}

.stepsContainer {
  display: flex;
  gap: 20px;
  margin: 58px auto 0;
}

.step {
  width: 100%;
  max-width: 409px;
  padding: 0px 28px 28px;
  height: auto;
  position: relative;
  background: #ffffff;
  text-align: left;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.imageWrapper {
  margin: -58px auto 22px;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #000000;
}

.imageWrapper img {
  width: 78px;
  height: 78px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: var(--text-color);
  margin: 0 0 17px 0;
}

.blueText {
  color: var(--primary-color);
}

.description {
  font-size: 18px;
  color: #000000;
  margin-bottom: 24px;
  margin: 0;
}

.ctaButton {
  background: #000;
  color: white;
  border: none;
  padding: 14px 27.5px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer !important;
  border-radius: 4px;
}

.ctaButton:hover {
  background: #000000cf;
}

.lineBreak {
  display: block;
}

@media screen and (max-width: 920px) {
  .container {
    gap: 30px;
  }

  .stepsContainer {
    margin: 52px auto 0;
  }

  .step {
    padding: 0px 20px 20px;
  }
  .heading {
    font-size: 30px;
  }

  .description {
    font-size: 16px;
  }

  .imageWrapper {
    margin-top: -52px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 19px;
  }

  .stepsContainer {
    margin: 45px auto 0;
  }

  .imageWrapper {
    width: 102px;
    height: 102px;
  }

  .imageWrapper img {
    width: 48px;
    height: 48px;
  }

  .ctaButton {
    font-size: 15px;
  }
}

@media screen and (max-width: 667px) {
  .ctaButton {
    margin-top: -40px;
  }

  .container {
    gap: 70px;
  }

  .stepsContainer {
    flex-direction: column;
    align-items: center;
    margin: 0;
    gap: 70px;
  }

  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 90%;
    padding: 0px 20px 20px;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }

  .imageWrapper {
    margin: -50px auto 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imageWrapper img {
    width: 48px;
    height: 48px;
  }

  .title {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .description {
    margin: 0;
  }

  .lineBreak {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 26px 20px;
  }

  .title {
    font-size: 16px;
  }

  .ctaButton {
    /* font-size: 12px; */
    padding: 10px;
  }
}
