.container {
  width: 75%;
  margin: 0 auto;
  padding: 40px 0px;
  text-align: center;
  position: relative;
  padding-bottom:58px
}

.container:last-child {
  margin-bottom: 40px;
}

.heading {
  color: var(--text-color);
  font-weight: 400;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: 0;
  margin: 0 0 34px;
}

.heading span {
  color: var(--primary-color);
  font-weight: 700;
}

.sliderWrapper {
  position: relative;
  height: 215px;
}
.loaderWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card {
  width: 285px;
  height: 208px;
  position: relative;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.custom_slider > div > div {
  display: flex;
  column-gap: 20px !important;
}

/* Custom Arrows */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--text-color) !important;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer !important;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.arrow img {
  width: 17px;
  height: 13px;
}

.arrow:hover {
  background: var(--primary-color) !important;
}

.prev {
  left: -50px;
}

.next {
  right: -50px;
}

.arrowLeft,
.arrowRight {
  position: absolute;
  /* top:45% */
  top: 70%;
  background: var(--text-color) !important;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer !important;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.arrowLeft img,
.arrowRight img {
  width: 17px;
  height: 13px;
}

.arrowLeft {
  left: -60px;
}
.arrowRight {
  right: -60px;
}

.arrowLeft,
.arrowRight {
  transition: background-color 0.3s ease-in-out;
}

.arrowLeft:hover,
.arrowRight:hover,
.arrowLeft:active {
  background-color: var(--primary-color) !important;
}
.serviceCardWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.serviceCard {
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(33.33% - 20px);
  text-align: center;
  cursor: pointer !important;
  padding: 8px;

 
}

.serviceImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: 0.3s;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5); 
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
    
  
}
.serviceCard {
  transition: transform 0.3s ease;
  border-radius: 20px;
}

.serviceCard:hover {
  transform: scale(1.025);
}


.serviceTitle {
  font-weight: 600;
  font-size: 16px;
  margin: 0 auto;
  margin-top: -2px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 44px;
  color: var(--text-color);
  background-color: #f9f9fa;
  position: relative;
  z-index: 9;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5); 
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  /* transition: 0.3s; */
}

.serviceCard:hover .serviceTitle {
  background: var(--primary-color);
  color: #ffffff;
  /* transform: scale(1.1); */
}

.categoryTitleText {
  color: var(--primary-color);
}

.blackText {
  color: var(--text-color) !important;
  font-weight: 400 !important;
}

.viewAllBtnBox {
  text-align: center;
  margin-top:87px;
  
} 

.viewAllBtn {
  background: #00afe3;
  box-shadow: 0px 0px 4px 0px #0000004d;
  color: #ffffff;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0;
  cursor: pointer !important;
  padding: 11px 31px;
  border-radius: 4.67px;
}

@media (max-width: 1020px) {
  .serviceImage {
    height: 150px;
  }
  .arrowLeft,
  .arrowRight {
    top: 48%;
  }
  .viewAllBtnBox {
    text-align: center;
    margin-top:40px;
    
  }
}

@media (max-width: 920px) {
  .container {
    padding: 30px 0px 0 0;
  }

  .container:last-child {
    padding-bottom: 0px;
  }

  .heading {
    margin: 0 0 22px;
  }

  .arrow {
    width: 35px;
    height: 35px;
  }
  .viewAllBtnBox {
    text-align: center;
    margin-top:40px;
    
  }

  .arrowLeft,
  .arrowRight {
    /* top:40%; */
    top: 60%;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 22px;
    margin: 0 0 23px;
  }
 
}

@media (max-width: 560px) {
  .container {
    margin-bottom: 25px;
  }
  .sliderWrapper {
    height: 165px;
  }
 .serviceTitle{
  height: 35px;
 }
  .card {
    width: 285px;
    height: 166px;
  }
  .viewAllBtnBox {
    text-align: center;
    margin-top:64px;
    
  }
  .image {
    width: 210px;
    height: 156px;
  }

  .prev {
    left: -1px;
  }

  .next {
    right: -1px;
  }

  .arrow {
    top: -25% !important;
    width: 25px;
    height: 25px;
  }

  .arrowLeft,
  .arrowRight {
    position: absolute;
    top: 36px;
    width: 28px;
    height: 28px;
  }

  .arrowLeft {
    left: 0px;
  }
  .arrowRight {
    right: 0px;
  }

  .arrowLeft img,
  .arrowRight img {
    width: 12px;
  }
.keen-slider__slide {
  overflow: visible;
}
  .serviceCard {
    /* min-width: 200px; */
    flex: 1 1 calc(33.33% - 5px);
  }

  .serviceTitle {
    font-size: 12px;
  }
}

.categoryGrid::-webkit-scrollbar {
  display: none;
}

@media (max-width: 488px) {
  .container {
    width: 86%;
    margin: 0 auto 40px;
    margin-bottom:0px
  }
  .serviceTitle{
    height: 27px;
  }
  .heading {
    font-size: 20px;
    line-height: 30px;
  }
  .container:last-child {
    padding-bottom: 0px;
  }

  .sliderWrapper {
    width: 100%;
    height: 170px;
  }
 .serviceImage {
    height: 117px;
  }
  .card {
    width: 295px;
  }

  .image {
    width: 171px;
    height: 114px;
    object-fit: cover;
  }

  .prev {
    left: -1px;
  }

  .next {
    right: -1px;
  }

  .arrow {
    top: -25% !important;
    width: 25px;
    height: 25px;
  }

  .arrowLeft,
  .arrowRight {
    position: absolute;
    top: 30px;
    width: 28px;
    height: 28px;
  }

  .arrowLeft {
    left: 0px;
  }
  .arrowRight {
    right: 0px;
  }

  .arrowLeft img,
  .arrowRight img {
    width: 12px;
  }

  .serviceTitle {
    font-size: 10px;
    text-align: center;
  }
  .viewAllBtn {
  background: #00afe3;
  box-shadow: 0px 0px 2px 0px #0000004d;
  color: #ffffff;
  border: none;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer !important;
  padding: 5.5px 10px;
  border-radius: 4.67px;
}
   .serviceImage {
    height: 140px;
  }
   .viewAllBtnBox {
    text-align: center;
    margin-top:72px;
    
  }
}

@media (max-width: 390px) {
  .heading {
    font-size: 20px;
    line-height: 30px;
  }
  .arrowLeft,
  .arrowRight {
    position: absolute;
    top: 34px;
    width: 20px;
    height: 20px;
  }
    .serviceImage {
    height: 120px;
  }
   .viewAllBtnBox {
    text-align: center;
    margin-top:48px;
    
  }
}

@media (max-width: 340px) {
  .heading {
    /* font-size: px; */
    line-height: 28px;
  }

  .prev {
    left: 0px;
  }

  .next {
    right: 0px;
  }

  .arrow {
    width: 23px;
    height: 23px;
  }
  .arrowLeft,
  .arrowRight {
    position: absolute;
    top: 36px;
   width: 20px;
    height: 20px;
  }
   .serviceImage {
    height: 117px;
  }
   .viewAllBtnBox {
    text-align: center;
    margin-top:30px;
    
  }
}
